In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)  # Esto es para ver todas las columnas de un dataframe
# pd.set_option('display.max_rows', None)     # Esto es para ver todas las filas de un dataframe

In [22]:
df = pd.read_csv('../datos/hr_raw_data_final.csv', index_col=0)

df.head()

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0

In [ ]:
# Columnas y filas
df.shape

(1678, 41)

In [ ]:
# TamaÃ±o del Dataframe
df.size

68798

In [ ]:
# Todas las columnas
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [ ]:
# Tipos de datos de cada columna

df.dtypes

age                          object
attrition                    object
businesstravel               object
dailyrate                   float64
department                   object
distancefromhome              int64
education                     int64
educationfield               object
employeecount                 int64
employeenumber                int64
environmentsatisfaction       int64
gender                        int64
hourlyrate                  float64
jobinvolvement                int64
joblevel                      int64
jobrole                      object
jobsatisfaction               int64
maritalstatus                object
monthlyincome                object
monthlyrate                  object
numcompaniesworked            int64
over18                       object
overtime                     object
percentsalaryhike             int64
performancerating            object
relationshipsatisfaction      int64
standardhours                object
stockoptionlevel              int64
totalworkingyears            object
trainingtimeslastyear         int64
worklifebalance              object
yearsatcompany                int64
yearsincurrentrole           object
yearssincelastpromotion       int64
yearswithcurrmanager          int64
sameasmonthlyincome          object
datebirth                     int64
salary                       object
roledepartament              object
numberchildren              float64
remotework                   object
dtype: object

In [35]:
df['gender'].unique()

array([0, 1])

In [34]:
df['environmentsatisfaction'].unique()

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43])

In [33]:
df['employeenumber'].unique()

array([   1,    2,    3, ..., 1612, 1613, 1614])

In [32]:
df['employeecount'].unique()

array([1])

In [29]:
df['educationfield'].unique()

array([nan, 'Life Sciences', 'Technical Degree', 'Medical', 'Other',
       'Marketing', 'Human Resources'], dtype=object)

In [30]:
df.isna().sum()

age                            0
attrition                      0
businesstravel               801
dailyrate                      0
department                  1366
distancefromhome               0
education                      0
educationfield               774
employeecount                  0
employeenumber                 0
environmentsatisfaction        0
gender                         0
hourlyrate                  1267
jobinvolvement                 0
joblevel                       0
jobrole                        0
jobsatisfaction                0
maritalstatus                675
monthlyincome                489
monthlyrate                    0
numcompaniesworked             0
over18                       938
overtime                     696
percentsalaryhike              0
performancerating            200
relationshipsatisfaction       0
standardhours                351
stockoptionlevel               0
totalworkingyears            549
trainingtimeslastyear          0
worklifebalance              114
yearsatcompany                 0
yearsincurrentrole          1643
yearssincelastpromotion        0
yearswithcurrmanager           0
sameasmonthlyincome          489
datebirth                      0
salary                       285
roledepartament             1366
numberchildren              1678
remotework                     0
dtype: int64

In [ ]:
# Valores unicos de la columna 'AGE'

df['age'].unique()

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53',
       '43', '60', '32', '37', '49', '39', '50', '44', '30',
       'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28',
       '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24',
       'thirty', '23', '22', '21', '20', 'twenty-six', '19',
       'thirty-seven', '18', 'thirty-two', 'twenty-four'], dtype=object)

In [ ]:

df['attrition'].unique()

array(['No', 'Yes'], dtype=object)

In [24]:
df['businesstravel'].unique()

array([nan, 'travel_rarely', 'travel_frequently', 'non-travel'],
      dtype=object)

In [31]:
df['dailyrate'].unique()

array([2015.72222222, 2063.38888889, 1984.25396825, 1771.4047619 ,
       1582.77134647, 1771.92063492, 1032.48728618,  556.256661  ,
       1712.18253968, 1973.98412698, 2060.70634921, 1382.74603175,
       1362.52380952, 2016.54761905, 1861.37301587, 1985.6984127 ,
       1108.92063492, 1728.38095238,  639.78571429, 2047.5       ,
        412.8015873 , 1077.86507937, 1657.3968254 ,  331.19047619,
       1059.19047619, 1080.75396825,  635.76190476,  487.08730159,
        290.03550974,  476.15079365, 1749.73809524, 1063.31746032,
        557.76190476,  608.93650794, 1119.96031746,  610.17460317,
        685.6984127 , 1441.65873016, 1374.28571429,  689.92857143,
        488.53174603, 1431.23809524, 1964.96031746, 1652.34126984,
        991.81746032, 1187.53968254,  444.26984127, 1758.71428571,
        522.78571429,  380.92063492, 2047.70634921,  238.12698413,
        592.94444444, 1075.28571429,  654.84920635,  242.25396825,
        316.95238095, 1288.65079365,  827.46031746, 1760.98412698,
        922.69047619, 1988.38095238,  575.4047619 ,  277.64285714,
        763.8015873 ,  910.30952381,  369.26190476, 1834.34126984,
       1879.11904762, 1400.8015873 , 1979.92063492, 1766.65873016,
       1979.61111111, 1032.57142857,  824.15873016,  730.78571429,
        487.29365079,  351.51587302,  302.1984127 , 1241.29365079,
       1591.67460317,  528.87301587,  992.43650794,  516.9047619 ,
       1963.72222222, 1073.01587302,  288.16666667,  585.41269841,
       1980.64285714,  867.9047619 ,  345.42857143,  547.75396825,
        789.6984127 , 1321.46031746,  679.50793651,  259.8968254 ,
       1764.18253968, 1353.65079365,  323.03968254,  458.50793651,
        688.58730159, 1016.47619048, 1842.8015873 ,  768.23809524,
       1419.37301587, 1712.49206349,  442.1031746 , 1044.53968254,
       1002.23809524, 1023.9047619 , 1160.1984127 ,  316.64285714,
        953.43650794,  667.74603175,  315.1984127 ,  858.51587302,
        324.27777778,  885.03174603,  433.02380952, 1020.19047619,
       1376.45238095,  585.72222222,  300.13492063,  982.84126984,
        704.16666667,  456.44444444,  561.37301587,  626.68253968,
        634.11111111,  636.79365079,  481.61904762,  578.29365079,
        445.61111111,  367.71428571,  645.97619048,  702.        ,
       2005.3015873 ,  601.3015873 ,  253.29365079,  521.54761905,
        483.06349206,  542.38888889,  218.62698413,  616.36507937,
        313.03174603, 1363.14285714,  865.84126984,  417.96031746,
        495.75396825,  282.8015873 ,  550.64285714,  973.34920635,
        556.73015873, 1151.32539683,  511.74603175,  907.21428571,
       1979.81746032,  228.63492063, 1208.48412698,  547.23809524,
       1145.54761905,  684.25396825,  782.78571429,  447.26190476,
        616.98412698,  437.87301587,  539.3968254 ,  278.57142857,
        244.11111111,  240.29365079,  443.03174603,  693.84920635,
       1065.27777778,  458.81746032, 1118.92857143,  564.57142857,
        658.76984127,  776.38888889,  377.61904762,  901.74603175,
       1392.75396825,  360.18253968,  538.57142857, 1057.74603175,
       2036.66666667,  640.61111111,  731.92063492,  467.79365079,
        876.98412698,  478.62698413,  553.32539683,  421.05555556,
        369.15873016, 1787.80952381, 1113.56349206, 1119.54761905,
       1079.82539683,  243.6984127 ,  664.34126984,  595.21428571,
        452.42063492,  419.50793651,  537.12698413,  273.92857143,
        265.15873016,  464.49206349,  512.57142857,  531.03968254,
        280.42857143,  365.13492063,  564.15873016,  599.75396825,
        997.38888889,  531.76190476,  585.51587302,  754.61904762,
        525.98412698, 1400.07936508,  692.50793651, 1030.81746032,
       1057.33333333, 1128.52380952,  267.53174603, 1225.50793651,
        835.1984127 , 1739.11111111,  468.1031746 , 1849.3015873 ,
        414.14285714, 1314.65079365,  348.31746032, 1081.47619048,
        438.38888889,  675.69047619, 1486.84920635, 2020.77777778,
        849.84920635,  331.29365079, 1723.42857143,  492.55555556,
        471.3015873 ,  618.32539683,  670.53174603,  356.15873016,
        660.00793651,  281.15079365,  373.6984127 ,  637.61904762,
        647.31746032,  452.00793651,  264.02380952,  566.22222222,
        259.38095238,  329.74603175,  352.85714286,  421.67460317,
        553.84126984, 1334.66666667,  435.5       ,  512.05555556,
        433.33333333,  516.49206349,  788.15079365,  670.84126984,
       1395.43650794,  655.05555556,  658.25396825,  320.04761905,
        470.06349206,  436.42857143,  501.32539683,  652.26984127,
       1110.26190476,  306.73809524,  536.92063492, 1795.13492063,
       1742.1031746 ,  446.02380952,  531.86507937,  302.92063492,
       1938.54761905,  503.8015873 ,  209.34126984,  309.11111111,
        957.25396825,  429.41269841,  913.4047619 ,  503.07936508,
        220.8968254 ,  800.22222222,  406.0952381 ,  705.92063492,
        411.56349206,  508.65079365,  381.95238095,  279.08730159,
        458.92063492,  245.45238095,  566.11904762,  289.92063492,
        922.17460317, 1025.14285714,  562.71428571, 1933.49206349,
        564.67460317, 1393.16666667, 1397.91269841, 1874.88888889,
        286.20634921,  973.86507937,  543.21428571,  393.61111111,
        246.48412698,  412.6984127 , 1814.22222222,  584.07142857,
        502.35714286,  479.65873016, 1082.92063492,  285.58730159,
        351.61904762,  387.42063492,  225.64285714,  439.31746032,
        549.50793651,  565.91269841,  287.03174603, 1819.8968254 ,
        625.44444444,  648.76190476,  353.26984127,  432.71428571,
        261.23809524,  584.58730159, 1416.17460317,  423.73809524,
        371.11904762,  424.56349206,  647.11111111,  259.69047619,
        402.79365079,  949.61904762,  451.18253968,  212.95238095,
        250.71428571,  503.18253968,  387.93650794,  207.69047619,
        306.84126984,  285.38095238,  348.42063492,  434.67460317,
        671.97619048,  442.        ,  229.66666667,  573.75396825,
        221.20634921,  554.35714286,  298.8968254 ,  548.99206349,
        558.17460317,  500.3968254 ,  206.45238095,  454.38095238,
        406.92063492,  305.3968254 , 1954.84920635,  667.02380952,
        276.81746032,  207.79365079,  355.02380952, 1409.77777778,
        518.03968254, 1944.22222222,  488.94444444, 1098.80952381,
        445.4047619 ,  208.82539683,  315.50793651,  405.37301587,
        456.54761905,  240.19047619,  274.13492063,  612.85714286,
        270.52380952,  331.3968254 ,  300.34126984,  715.1031746 ,
        224.50793651,  333.25396825, 1925.75396825,  287.75396825,
        661.34920635,  509.78571429,  410.94444444,  299.61904762,
        278.15873016,  224.3015873 ,  696.94444444, 1131.30952381,
        262.37301587, 2002.20634921,  674.55555556,  232.96825397,
        228.84126984,  273.82539683, 1231.38888889,  262.68253968,
        401.76190476,  439.73015873, 1086.11904762,  247.61904762,
        379.78571429,  355.64285714, 2013.24603175,  274.34126984,
        912.78571429,  210.99206349,  500.5       ,  837.77777778,
        472.23015873,  557.65873016,  382.57142857, 1420.71428571,
        236.99206349,  252.77777778,  447.98412698,  265.36507937,
        670.63492063,  324.8968254 ,  549.3015873 ,  452.11111111,
        263.4047619 ,  612.13492063,  454.27777778, 1128.11111111,
        208.61904762,  439.11111111,  369.36507937,  299.1031746 ,
        573.85714286,  245.24603175,  248.03174603,  288.78571429,
        290.02380952,  451.5952381 ,  437.46031746,  436.11904762,
        404.13492063,  512.67460317,  210.68253968,  291.05555556,
       1027.30952381,  227.70634921,  213.57142857,  287.96031746,
        848.50793651,  269.28571429,  591.29365079,  261.96031746,
        245.14285714, 1968.67460317,  283.00793651,  468.20634921,
        398.97619048,  214.6031746 ,  216.25396825,  477.38888889,
        237.50793651,  523.1984127 , 1093.23809524,  564.05555556,
        247.        ,  374.42063492,  965.92063492,  333.15079365,
       1694.33333333,  582.62698413,  453.96825397,  213.15873016,
        566.01587302,  326.23809524,  686.21428571,  505.34920635,
        328.0952381 , 1160.0952381 ,  419.81746032,  659.49206349,
        500.91269841,  341.71428571,  321.5952381 , 1568.46031746,
        266.19047619,  223.47619048,  451.28571429,  567.97619048,
        266.91269841, 1647.9047619 ,  237.81746032,  354.1984127 ,
        358.73809524,  403.1031746 ,  355.43650794,  284.76190476,
        649.38095238, 1353.23809524,  370.5       ,  217.18253968,
        402.58730159,  274.65079365,  212.74603175,  568.18253968,
        836.02380952,  410.42857143,  557.03968254, 1077.96825397,
        458.0952381 ,  274.44444444,  348.21428571,  234.1031746 ,
        493.8968254 ,  289.81746032, 1119.85714286,  265.26190476,
        633.6984127 ,  257.52380952,  352.75396825,  258.03968254,
        264.74603175,  404.44444444, 1440.73015873,  674.76190476,
        231.52380952, 1669.77777778,  436.73809524, 1528.42857143,
       1770.37301587,  239.15873016,  373.18253968,  276.92063492,
       1984.76984127,  456.23809524,  263.3015873 ,  276.3015873 ,
        533.51587302, 1229.42857143,  967.77777778,  606.46031746,
        254.63492063,  425.8015873 ,  221.61904762,  400.93650794,
        687.86507937,  215.63492063,  215.22222222,  201.29365079,
        311.79365079, 1003.26984127,  349.55555556,  313.44444444,
        239.57142857,  301.88888889,  464.8015873 ,  292.5       ,
        676.1031746 ,  688.48412698, 1402.24603175,  224.61111111,
       2013.65873016, 1981.15873016, 1036.6984127 ,  280.94444444,
        685.49206349,  326.13492063,  146.50793651,  123.80952381,
        540.42857143, 1030.1984127 , 1649.96825397,  244.52380952,
        699.62698413,  686.42063492,  294.15079365,  542.49206349,
        255.46031746,  235.75396825,  355.74603175,  470.26984127,
        175.6031746 ,  264.53968254,  523.0952381 ,  390.        ,
       1013.58730159,  193.76190476,  241.42857143,  219.45238095,
        209.75396825,  990.68253968, 1715.48412698,  214.91269841,
        104.1031746 ,  811.05555556,  272.58730159,  528.35714286,
        277.95238095,  525.57142857,  234.61904762,  238.74603175,
        245.55555556,  207.17460317, 1088.6984127 ,  233.07142857,
        248.96031746,  218.83333333,  255.76984127, 1361.28571429,
        429.51587302,  268.25396825, 1888.4047619 ,  492.86507937,
        108.53968254,  253.91269841,  267.84126984,  487.80952381,
        758.43650794,  491.73015873,  291.67460317,  294.35714286,
        236.26984127,  217.38888889,  228.01587302, 1360.97619048,
       1884.48412698,  115.34920635,  244.73015873,  292.80952381,
       1863.43650794,  166.21428571,  491.93650794,  131.44444444,
        264.23015873,  161.26190476,  659.07936508,  864.19047619,
        499.46825397,  213.98412698,  306.63492063,  703.13492063,
        277.53968254, 1812.46825397,  161.88095238,  431.99206349,
        341.0952381 ,  143.72222222, 1122.84920635,  295.28571429,
        694.88095238, 1006.57142857,  546.20634921,  251.43650794,
        420.02380952,  304.98412698,  479.55555556,  289.3015873 ,
        251.64285714,  294.66666667,  302.61111111,  112.56349206,
        531.45238095,  295.38888889,  294.87301587,  116.48412698,
       2004.78571429])

In [26]:
df['department'].unique()

array([nan, ' Research & Development ', ' Sales ', ' Human Resources '],
      dtype=object)

In [27]:
df['distancefromhome'].unique()

array([  6,   1,   4,   2,   3,  22,  25,   9,   7,  23,  10,  12,  14,
       -13,  15,   8, -42,  28, -37,   5,  16, -35,  26, -26,  24,  29,
       -25,  17,  21, -18, -10, -30, -27,  20, -31, -29, -39,  18, -21,
       -15,  11,  13, -14,  19, -33, -34, -46, -36, -19,  27, -12, -23,
       -45, -28, -47, -32, -24, -16, -22, -41, -49, -11, -48, -38, -20,
       -17, -43, -40, -44])

In [28]:
df['education'].unique()

array([3, 4, 2, 1, 5])

In [ ]:
# Metodo para cambiar el tipo de una columna

# df['age'].astype(int)

ValueError: invalid literal for int() with base 10: 'forty-seven'