In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)  # Esto es para ver todas las columnas de un dataframe
# pd.set_option('display.max_rows', None)     # Esto es para ver todas las filas de un dataframe

In [3]:
df = pd.read_csv('../datos/hr_raw_data_final.csv', index_col=0)

df.head(20)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
5,48,No,NaN,1771.920635,Research & Development,22,3,Medical,1,6,4,1,NaN,3,4,MANAger,4,NaN,"14311,67$","37210,33$",3,NaN,No,11,"3,0",2,NaN,1,NaN,3,"3,0",22,NaN,4,7,"14311,67$",1975,NaN,MANAger - Research & Development,NaN,Yes
6,59,No,NaN,1032.487286,NaN,25,3,Life Sciences,1,7,1,1,NaN,3,3,Sales ExeCutIVe,1,NaN,"8339,32$","21682,23$",7,Y,NaN,11,"3,0",4,Part Time,0,"28,0",3,"2,0",21,NaN,7,9,"8339,32$",1964,"100071,84$",NaN,NaN,True
7,42,No,travel_rarely,556.256661,NaN,1,1,NaN,1,8,2,0,69.532083,3,2,Sales eXEcUTiVe,3,Married,NaN,"11681,39$",1,NaN,No,25,"4,0",3,Part Time,0,"20,0",3,"3,0",20,NaN,11,6,NaN,1981,"53914,11$",NaN,NaN,0
8,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,2,1,NaN,3,4,mANAGEr,1,Married,"13829,17$","35955,83$",7,NaN,No,16,"3,0",2,Full Time,1,"22,0",2,"3,0",18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
9,41,No,travel_frequently,1973.984127,NaN,9,3,NaN,1,10,1,0,NaN,3,5,reSEaRCH DIrectoR,3,NaN,"15943,72$","41453,67$",2,NaN,No,17,"3,0",2,NaN,1,"21,0",2,"4,0",18,NaN,0,11,"15943,72$",1982,NaN,NaN,NaN,0
10,41,No,non-travel,2060.706349,NaN,7,1,NaN,1,11,2,1,NaN,1,5,RESeArcH DIrEctoR,3,NaN,"16644,17$","43274,83$",1,Y,No,22,"4,0",2,Full Time,2,NaN,3,"3,0",21,NaN,5,10,"16644,17$",1982,"199730,00$",NaN,NaN,0
11,56,No,travel_rarely,1382.746032,NaN,23,3,Life Sciences,1,12,4,0,172.843254,3,4,MANUfACturing DIReCtOr,2,Married,NaN,"29037,67$",4,NaN,Yes,12,NaN,1,Full Time,1,"33,0",0,"3,0",19,NaN,15,9,NaN,1967,"134020,00$",NaN,NaN,False
12,38,No,NaN,1362.523810,NaN,10,3,Medical,1,13,2,1,NaN,1,3,REseaRCh dirEcToR,3,Married,NaN,"28613,00$",3,Y,No,12,"3,0",1,Full Time,1,NaN,3,"3,0",18,NaN,1,11,NaN,1985,"132060,00$",NaN,NaN,1
13,41,Yes,travel_rarely,2016.547619,NaN,12,3,NaN,1,14,2,1,NaN,3,5,reseARCh DIrEctoR,3,Married,NaN,"42347,50$",1,NaN,No,12,"3,0",4,Full Time,0,NaN,0,"3,0",22,NaN,15,8,NaN,1982,"195450,00$",NaN,NaN,False
14,55,No,NaN,1973.984127,NaN,14,4,Medical,1,15,3,0,NaN,4,5,RESeaRCH dirEctor,2,Single,"15943,72$","41453,67$",8,NaN,No,11,"3,0",4,NaN,0,NaN,3,"3,0",24,NaN,2,15,"15943,72$",1968,NaN,NaN,NaN,True
15,40,No,travel_rarely,1861.373016,NaN,2,4,NaN,1,16,3,1,NaN,3,5,MAnAgeR,3,NaN,"15034,17$","39088,83$",0,NaN,No,14,"3,0",4,Full Time,0,NaN,2,"3,0",20,NaN,1,12,"15034,17$",1983,"180410,00$",NaN,NaN,0
16,58,Yes,travel_rarely,1985.698413,NaN,2,4,NaN,1,17,4,0,NaN,3,5,reSeARCh DIrEcToR,2,Single,"16038,33$","41699,67$",7,Y,Yes,12,"3,0",4,Full Time,0,"40,0",2,"3,0",31,NaN,13,8,"16038,33$",1965,"192460,00$",NaN,NaN,0
17,46,No,travel_rarely,1582.771346,NaN,2,3,NaN,1,18,3,1,NaN,3,4,MAnaGER,1,NaN,"12783,92$","33238,20$",8,NaN,NaN,23,"4,0",1,NaN,0,"28,0",2,"3,0",26,NaN,15,9,"12783,92$",1977,NaN,NaN,NaN,False
18,35,No,NaN,556.256661,NaN,-13,5,Life Sciences,1,19,2,0,NaN,4,2,REseArcH sciENtiST,1,Married,"4492,84$","11681,39$",1,NaN,NaN,11,"3,0",4,NaN,0,NaN,2,"3,0",16,NaN,1,10,"4492,84$",1988,NaN,NaN,NaN,False
19,40,No,travel_rarely,1032.487286,NaN,15,3,Life Sciences,1,20,1,1,NaN,2,3,MAnUFaCtUring dIRecTOr,3,NaN,"8339,32$","21682,23$",1,Y,NaN,13,"3,0",4,NaN,2,"18,0",2,NaN,18,NaN,14,12,"8339,32$",1983,NaN,NaN,NaN,True

In [89]:
df.head(1)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes

In [5]:
# Columnas y filas
print(f"El nmero de filas que tenemos es {df.shape[0]}, y el nmero de columnas es {df.shape[1]}")

El nmero de filas que tenemos es 1678, y el nmero de columnas es 41

In [6]:
# Tamao del Dataframe
df.size

68798

In [7]:
#utilizamos el metodo '.describe()' para sacar los principales estadsticos del DataFrame
# por defecto, nos devolver solo los estadsticos de las VARIABLES NUMRICAS

df.describe()

,dailyrate,distancefromhome,education,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobsatisfaction,numcompaniesworked,percentsalaryhike,relationshipsatisfaction,stockoptionlevel,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,datebirth,numberchildren
count,1678.000000,1678.000000,1678.000000,1678.0,1678.000000,1678.000000,1678.000000,411.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,1678.000000,0.0
mean,668.079714,4.504172,2.932658,1.0,809.859952,4.264005,0.398689,83.140768,2.740763,2.064362,2.743147,2.670441,15.154350,2.700238,0.787843,2.795590,7.124553,2.241955,4.200238,1986.047080,NaN
std,470.787298,14.652066,1.024270,0.0,467.084867,6.912695,0.489774,57.272101,0.710359,1.099425,1.105172,2.501133,3.649607,1.079494,0.843252,1.288657,6.173837,3.246554,3.554224,9.154908,NaN
min,104.103175,-49.000000,1.000000,1.0,1.000000,1.000000,0.000000,13.012897,1.000000,1.000000,1.000000,0.000000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1963.000000,NaN
25%,290.035510,2.000000,2.000000,1.0,403.250000,2.000000,0.000000,36.254439,2.000000,1.000000,2.000000,1.000000,12.000000,2.000000,0.000000,2.000000,3.000000,0.000000,2.000000,1980.000000,NaN
50%,556.256661,5.000000,3.000000,1.0,813.500000,3.000000,0.000000,69.532083,3.000000,2.000000,3.000000,2.000000,14.000000,3.000000,1.000000,3.000000,5.000000,1.000000,3.000000,1987.000000,NaN
75%,971.956349,11.000000,4.000000,1.0,1215.750000,4.000000,1.000000,116.987103,3.000000,3.000000,4.000000,4.000000,18.000000,4.000000,1.000000,3.000000,9.000000,3.000000,7.000000,1993.000000,NaN
max,2063.388889,29.000000,5.000000,1.0,1614.000000,49.000000,1.000000,255.963294,4.000000,5.000000,4.000000,9.000000,25.000000,4.000000,3.000000,6.000000,40.000000,15.000000,17.000000,2005.000000,NaN

In [8]:
# podemos usar el mtodo '.T' para transponer los resultados
df.describe().T

,count,mean,std,min,25%,50%,75%,max
dailyrate,1678.0,668.079714,470.787298,104.103175,290.035510,556.256661,971.956349,2063.388889
distancefromhome,1678.0,4.504172,14.652066,-49.000000,2.000000,5.000000,11.000000,29.000000
education,1678.0,2.932658,1.024270,1.000000,2.000000,3.000000,4.000000,5.000000
employeecount,1678.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
employeenumber,1678.0,809.859952,467.084867,1.000000,403.250000,813.500000,1215.750000,1614.000000
environmentsatisfaction,1678.0,4.264005,6.912695,1.000000,2.000000,3.000000,4.000000,49.000000
gender,1678.0,0.398689,0.489774,0.000000,0.000000,0.000000,1.000000,1.000000
hourlyrate,411.0,83.140768,57.272101,13.012897,36.254439,69.532083,116.987103,255.963294
jobinvolvement,1678.0,2.740763,0.710359,1.000000,2.000000,3.000000,3.000000,4.000000
joblevel,1678.0,2.064362,1.099425,1.000000,1.000000,2.000000,3.000000,5.000000
jobsatisfaction,1678.0,2.743147,1.105172,1.000000,2.000000,3.000000,4.000000,4.000000
numcompaniesworked,1678.0,2.670441,2.501133,0.000000,1.000000,2.000000,4.000000,9.000000
percentsalaryhike,1678.0,15.154350,3.649607,11.000000,12.000000,14.000000,18.000000,25.000000
relationshipsatisfaction,1678.0,2.700238,1.079494,1.000000,2.000000,3.000000,4.000000,4.000000
stockoptionlevel,1678.0,0.787843,0.843252,0.000000,0.000000,1.000000,1.000000,3.000000
trainingtimeslastyear,1678.0,2.795590,1.288657,0.000000,2.000000,3.000000,3.000000,6.000000
yearsatcompany,1678.0,7.124553,6.173837,0.000000,3.000000,5.000000,9.000000,40.000000
yearssincelastpromotion,1678.0,2.241955,3.246554,0.000000,0.000000,1.000000,3.000000,15.000000
yearswithcurrmanager,1678.0,4.200238,3.554224,0.000000,2.000000,3.000000,7.000000,17.000000
datebirth,1678.0,1986.047080,9.154908,1963.000000,1980.000000,1987.000000,1993.000000,2005.000000
numberchildren,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# hagamos lo mismo para las columnas categricas, para eso tendremos que incluir entre los parntesis el parmetro include = "object"
df.describe(include = "object").T

,count,unique,top,freq
age,1678,54,35,88
attrition,1678,2,No,1406
businesstravel,877,3,travel_rarely,616
department,312,3,Research & Development,203
educationfield,904,6,Life Sciences,367
jobrole,1678,1579,mANager,5
maritalstatus,1003,5,Married,419
monthlyincome,1189,493,"2342,59$",228
monthlyrate,1678,673,"11681,39$",326
over18,740,1,Y,740
overtime,982,2,No,714
performancerating,1478,2,"3,0",1257
standardhours,1327,2,Part Time,927
totalworkingyears,1129,40,"10,0",151
worklifebalance,1564,4,"3,0",946
yearsincurrentrole,35,10,"2,0",12
sameasmonthlyincome,1189,493,"2342,59$",228
salary,1393,583,"53914,11$",270
roledepartament,312,301,rESEArcH SCiEntIst - Research & Development,2
remotework,1678,5,1,375

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   object
 1   attrition                 1678 non-null   object
 2   businesstravel            877 non-null    object
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object
 5   distancefromhome          1678 non-null   int64
 6   education                 1678 non-null   int64
 7   educationfield            904 non-null    object
 8   employeecount             1678 non-null   int64
 9   employeenumber            1678 non-null   int64
 10  environmentsatisfaction   1678 non-null   int64
 11  gender                    1678 non-null   int64
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64
 14  joblevel                  1678 non-null   int64
 15  jobrole                   1678 non-null   object
 16  jobsatisfaction           1678 non-null   int64
 17  maritalstatus             1003 non-null   object
 18  monthlyincome             1189 non-null   object
 19  monthlyrate               1678 non-null   object
 20  numcompaniesworked        1678 non-null   int64
 21  over18                    740 non-null    object
 22  overtime                  982 non-null    object
 23  percentsalaryhike         1678 non-null   int64
 24  performancerating         1478 non-null   object
 25  relationshipsatisfaction  1678 non-null   int64
 26  standardhours             1327 non-null   object
 27  stockoptionlevel          1678 non-null   int64
 28  totalworkingyears         1129 non-null   object
 29  trainingtimeslastyear     1678 non-null   int64
 30  worklifebalance           1564 non-null   object
 31  yearsatcompany            1678 non-null   int64
 32  yearsincurrentrole        35 non-null     object
 33  yearssincelastpromotion   1678 non-null   int64
 34  yearswithcurrmanager      1678 non-null   int64
 35  sameasmonthlyincome       1189 non-null   object
 36  datebirth                 1678 non-null   int64
 37  salary                    1393 non-null   object
 38  roledepartament           312 non-null    object
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object
dtypes: float64(3), int64(18), object(20)
memory usage: 550.6+ KB

In [11]:
# Todas las columnas
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [12]:
# Tipos de datos de cada columna

df.dtypes

age                          object
attrition                    object
businesstravel               object
dailyrate                   float64
department                   object
distancefromhome              int64
education                     int64
educationfield               object
employeecount                 int64
employeenumber                int64
environmentsatisfaction       int64
gender                        int64
hourlyrate                  float64
jobinvolvement                int64
joblevel                      int64
jobrole                      object
jobsatisfaction               int64
maritalstatus                object
monthlyincome                object
monthlyrate                  object
numcompaniesworked            int64
over18                       object
overtime                     object
percentsalaryhike             int64
performancerating            object
relationshipsatisfaction      int64
standardhours                object
stockoptionlevel              int64
totalworkingyears            object
trainingtimeslastyear         int64
worklifebalance              object
yearsatcompany                int64
yearsincurrentrole           object
yearssincelastpromotion       int64
yearswithcurrmanager          int64
sameasmonthlyincome          object
datebirth                     int64
salary                       object
roledepartament              object
numberchildren              float64
remotework                   object
dtype: object

In [13]:
# sacamos las columnas que son de tipo object (categricas) de nuestro DataFrame usando el mtodo '.select_dtypes()'
df_cat = df.select_dtypes(include = "object")
df_cat.head()

,age,attrition,businesstravel,department,educationfield,jobrole,maritalstatus,monthlyincome,monthlyrate,over18,overtime,performancerating,standardhours,totalworkingyears,worklifebalance,yearsincurrentrole,sameasmonthlyincome,salary,roledepartament,remotework
0,51,No,NaN,NaN,NaN,resEArch DIREcToR,NaN,"16280,83$","42330,17$",Y,No,"3,0",Full Time,NaN,"3,0",NaN,"16280,83$","195370,00$",NaN,Yes
1,52,No,NaN,NaN,Life Sciences,ManAGeR,NaN,NaN,"43331,17$",NaN,NaN,"3,0",NaN,"34,0","3,0",NaN,NaN,"199990,00$",NaN,1
2,42,No,travel_rarely,Research & Development,Technical Degree,ManaGER,Married,NaN,"41669,33$",NaN,No,"3,0",NaN,"22,0",NaN,NaN,NaN,"192320,00$",ManaGER - Research & Development,1
3,47,No,travel_rarely,NaN,Medical,ReseArCH DIrECtOr,Married,"14307,50$","37199,50$",Y,NaN,"3,0",Full Time,NaN,NaN,NaN,"14307,50$","171690,00$",NaN,False
4,46,No,NaN,NaN,Technical Degree,sAleS EXECUtIve,Divorced,"12783,92$","33238,20$",Y,No,"3,0",NaN,NaN,"3,0",NaN,"12783,92$",NaN,NaN,0

In [14]:
# inplace = True porque queremos que los cambios realizados se sobreescriban en el DataFrame
df_cat.drop(['monthlyincome', 'monthlyrate', 'performancerating', 'totalworkingyears' , 'worklifebalance', 'sameasmonthlyincome', 'salary', 'age'], axis = 1, inplace=True)
# chuequeamos como se ha quedado el DataFrame y vemos que ya lo tenemos preparado para poder evaluar cuales son sus valores nicos ('.unique()') y sus frecuencias ('.value_counts()')
df_cat.head()

,attrition,businesstravel,department,educationfield,jobrole,maritalstatus,over18,overtime,standardhours,yearsincurrentrole,roledepartament,remotework
0,No,NaN,NaN,NaN,resEArch DIREcToR,NaN,Y,No,Full Time,NaN,NaN,Yes
1,No,NaN,NaN,Life Sciences,ManAGeR,NaN,NaN,NaN,NaN,NaN,NaN,1
2,No,travel_rarely,Research & Development,Technical Degree,ManaGER,Married,NaN,No,NaN,NaN,ManaGER - Research & Development,1
3,No,travel_rarely,NaN,Medical,ReseArCH DIrECtOr,Married,Y,NaN,Full Time,NaN,NaN,False
4,No,NaN,NaN,Technical Degree,sAleS EXECUtIve,Divorced,Y,No,NaN,NaN,NaN,0

In [15]:
# creamos una variable con los nombres de las columnas del DataFrame de las variables categricas utilizando el mtodo '.columns'
columnas_cat = df_cat.columns
print(f"Las columnas del DataFrame de variables categricas son {columnas_cat}")

# empezamos a iterar por cada una de las columnas para sacar sus valores nicos y sus frecuencias
for columna in columnas_cat:
    print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
    print(f"Sus valores nicos son: {df_cat[columna].unique()}\n")
    print(f"Las frecuencias de los valores nicos de las categoras son: {df_cat[columna].value_counts()} ")
    print(f"Cantidad de valores nulos: {df_cat[columna].isna().sum()}")

Las columnas del DataFrame de variables categricas son Index(['attrition', 'businesstravel', 'department', 'educationfield',
       'jobrole', 'maritalstatus', 'over18', 'overtime', 'standardhours',
       'yearsincurrentrole', 'roledepartament', 'remotework'],
      dtype='object')

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ATTRITION' -----------

Sus valores nicos son: ['No' 'Yes']

Las frecuencias de los valores nicos de las categoras son: attrition
No     1406
Yes     272
Name: count, dtype: int64
Cantidad de valores nulos: 0

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'BUSINESSTRAVEL' -----------

Sus valores nicos son: [nan 'travel_rarely' 'travel_frequently' 'non-travel']

Las frecuencias de los valores nicos de las categoras son: businesstravel
travel_rarely        616
travel_frequently    168
non-travel            93
Name: count, dtype: int64
Cantidad de valores nulos: 801

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'DEPARTMENT' -----------

Sus valores nicos son: [nan ' Research & Development ' ' Sales ' ' Human Resources ']

Las frecuencias de los valores nicos de las categoras son: department
 Research & Development     203
 Sales                       93
 Human Resources             16
Name: count, dtype: int64
Cantidad de valores nulos: 1366

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'EDUCATIONFIELD' -----------

Sus valores nicos son: [nan 'Life Sciences' 'Technical Degree' 'Medical' 'Other' 'Marketing'
 'Human Resources']

Las frecuencias de los valores nicos de las categoras son: educationfield
Life Sciences       367
Medical             286
Marketing           106
Technical Degree     70
Other                63
Human Resources      12
Name: count, dtype: int64
Cantidad de valores nulos: 774

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'JOBROLE' -----------

Sus valores nicos son: [' resEArch DIREcToR ' ' ManAGeR ' ' ManaGER ' ... ' sAlES ExECUTivE '
 ' SaLes ExecUtIVe ' ' mAnUfactURInG DiRECTOr ']

Las frecuencias de los valores nicos de las categoras son: jobrole
 mANager                    5
 ManagEr                    3
 mAnageR                    3
 maNaGeR                    3
 MANAgER                    3
                           ..
 RESeaRCh sCientIsT         1
 reseARCH sCIEntiST         1
 REseaRCh SCiENTIst         1
 LabOrATory TEChNICiaN      1
 mAnUfactURInG DiRECTOr     1
Name: count, Length: 1579, dtype: int64
Cantidad de valores nulos: 0

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'MARITALSTATUS' -----------

Sus valores nicos son: [nan 'Married' 'Divorced' 'Single' 'divorced' 'Marreid']

Las frecuencias de los valores nicos de las categoras son: maritalstatus
Married     419
Single      343
Divorced    194
Marreid      36
divorced     11
Name: count, dtype: int64
Cantidad de valores nulos: 675

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'OVER18' -----------

Sus valores nicos son: ['Y' nan]

Las frecuencias de los valores nicos de las categoras son: over18
Y    740
Name: count, dtype: int64
Cantidad de valores nulos: 938

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'OVERTIME' -----------

Sus valores nicos son: ['No' nan 'Yes']

Las frecuencias de los valores nicos de las categoras son: overtime
No     714
Yes    268
Name: count, dtype: int64
Cantidad de valores nulos: 696

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'STANDARDHOURS' -----------

Sus valores nicos son: ['Full Time' nan 'Part Time']

Las frecuencias de los valores nicos de las categoras son: standardhours
Part Time    927
Full Time    400
Name: count, dtype: int64
Cantidad de valores nulos: 351

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'YEARSINCURRENTROLE' -----------

Sus valores nicos son: [nan '13,0' '12,0' '11,0' '7,0' '6,0' '4,0' '3,0' '2,0' '1,0' '0,0']

Las frecuencias de los valores nicos de las categoras son: yearsincurrentrole
2,0     12
7,0      5
0,0      4
4,0      3
1,0      3
11,0     2
6,0      2
3,0      2
13,0     1
12,0     1
Name: count, dtype: int64
Cantidad de valores nulos: 1643

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ROLEDEPARTAMENT' -----------

Sus valores nicos son: [nan ' ManaGER  -  Research & Development '
 ' MANAger  -  Research & Development '
 ' heaLtHcArE repResENtATiVe  -  Research & Development '
 ' saLEs exEcutIVe  -  Sales ' ' Sales ExECuTIVe  -  Sales '
 ' heALthCArE RePResEntaTIVe  -  Research & Development '
 ' lABORAtOry tECHnIcIan  -  Research & Development '
 ' ManufactUrINg DiReCTOr  -  Research & Development '
 ' SaleS eXEcUtIVE  -  Sales '
 ' HEaLthcaRe rEprEsEnTAtiVe  -  Research & Development '
 ' rESeArCH sCientIST  -  Research & Development '
 ' healTHCAre rePREseNtATiVE  -  Research & Development '
 ' mANaGer  -  Research & Development '
 ' HEAltHCaRe REPreseNTatIve  -  Research & Development '
 ' SaLeS eXECUTivE  -  Sales '
 ' reSeARCH SCIEnTiST  -  Research & Development '
 ' ReSearch DiRecTOR  -  Research & Development '
 ' resEaRCh SciEnTist  -  Research & Development '
 ' hUmaN REsoUrCes  -  Human Resources '
 ' manAgER  -  Research & Development ' ' SaLES eXeCUtIVE  -  Sales '
 ' reSEarCH scIentISt  -  Research & Development '
 ' ReSeARCh DiRECtor  -  Research & Development ' ' MaNAgeR  -  Sales '
 ' RESEArCH sCIenTIst  -  Research & Development '
 ' hUMAn reSoUrCES  -  Human Resources '
 ' HUmAN rESOuRceS  -  Human Resources ' ' SaleS EXeCuTivE  -  Sales '
 ' ReSeARch scIENTISt  -  Research & Development '
 ' LaBoRaTorY TeChNicIAn  -  Research & Development '
 ' ManUfaCTUriNg dIReCtor  -  Research & Development '
 ' saLES ExECuTIVe  -  Sales '
 ' RESEaRch SCIEntISt  -  Research & Development '
 ' mAnUFaCtUrinG diReCtor  -  Research & Development '
 ' maNUFAcTURING direCTOr  -  Research & Development '
 ' labOraTORy techNicIan  -  Research & Development '
 ' SAlEs ExeCUtive  -  Sales '
 ' MANUFACturING DIRecToR  -  Research & Development '
 ' Sales eXECuTIvE  -  Sales '
 ' mANUfaCTuRiNG DiRECtOr  -  Research & Development '
 ' ManUFACtURiNg DiRECTOr  -  Research & Development '
 ' ResEARcH DiReCToR  -  Research & Development '
 ' MANAgER  -  Research & Development '
 ' labORATORY TechnIcIaN  -  Research & Development '
 ' MaNUfacTurINg DiReCTor  -  Research & Development '
 ' ReSEaRcH sciENTIST  -  Research & Development '
 ' rESEARCh dIrEcTOr  -  Research & Development '
 ' MANUfACTuRinG diRecTOR  -  Research & Development '
 ' HeaLThCArE REpRESENTAtIVe  -  Research & Development '
 ' LABOraTory TecHnIciaN  -  Research & Development '
 ' sales rEprESEntAtIvE  -  Sales '
 ' mANuFacTurinG DirECtoR  -  Research & Development '
 ' lABorATOrY TeChnICIan  -  Research & Development '
 ' RESEarCh SCIEnTiST  -  Research & Development '
 ' SALes exEcuTIVe  -  Sales '
 ' REseARCH DirectOr  -  Research & Development '
 ' sAlES EXEcUtIVe  -  Sales '
 ' lABoraToRY teCHnIcIaN  -  Research & Development '
 ' LaBorATORy tEChnICiaN  -  Research & Development '
 ' sales ExecutIvE  -  Sales ' ' sAles exECUtiVe  -  Sales '
 ' SALEs eXecuTiVE  -  Sales ' ' SaleS executIVE  -  Sales '
 ' rEsEArCH sCIeNTIST  -  Research & Development '
 ' reSEArch SCIEntIsT  -  Research & Development '
 ' rESeArCh DIrEctor  -  Research & Development '
 ' saLES ExECUtiVe  -  Sales '
 ' LaboRATory tEchNICIAn  -  Research & Development '
 ' SAlEs exECUtIVe  -  Sales ' ' salEs eXECuTivE  -  Sales '
 ' ReseaRch scIenTisT  -  Research & Development '
 ' LaBoraTORY teCHNiCIaN  -  Research & Development '
 ' sALEs ExeCuTive  -  Sales '
 ' heALtHCARE rePResENtAtivE  -  Research & Development '
 ' ManAgEr  -  Research & Development '
 ' laboRAtORy TecHnICiAN  -  Research & Development '
 ' ReSeARCH diRECtoR  -  Research & Development '
 ' LAborAtOry TEchniCIAn  -  Research & Development '
 ' SaLeS eXECutiVE  -  Sales ' ' SalEs eXECuTive  -  Sales '
 ' rESeaRCH DIReCToR  -  Research & Development '
 ' mANAGeR  -  Human Resources ' ' saLeS exECUtive  -  Sales '
 ' maNuFAcTURInG DIReCtoR  -  Research & Development '
 ' LABORaTorY TEChNIcIAN  -  Research & Development '
 ' hEalTHcARe RePrEseNTATive  -  Research & Development '
 ' mANuFActuring DireCtOR  -  Research & Development '
 ' MaNagEr  -  Research & Development ' ' SaLeS exeCuTIVe  -  Sales '
 ' lAboRaTory tECHNIciAN  -  Research & Development '
 ' saLes eXECUTIVe  -  Sales ' ' saLes EXEcuTiVe  -  Sales '
 ' mAnaGeR  -  Research & Development '
 ' HEALThCaRe rePResEnTaTivE  -  Research & Development '
 ' mAnAgEr  -  Research & Development '
 ' MaNageR  -  Research & Development '
 ' HeAlThCarE rEpreSentatiVe  -  Research & Development '
 ' HUMAN ResoURCeS  -  Human Resources '
 ' huMAn ResOurces  -  Human Resources '
 ' mANUfacTURiNG dIRectOR  -  Research & Development '
 ' saLES eXEcUTiVE  -  Sales '
 ' labORaTORY teChNIcIaN  -  Research & Development '
 ' saLes eXeCUTivE  -  Sales ' ' Sales exECutIVE  -  Sales '
 ' saleS eXEcuTIvE  -  Sales ' ' SALes ExeCUtive  -  Sales '
 ' reSearCH SCieNtIst  -  Research & Development '
 ' HEALThcaRe RePresENtaTiVE  -  Research & Development '
 ' rEsEARch sCientIST  -  Research & Development '
 ' HealthcARE RePreSENtAtiVe  -  Research & Development '
 ' ResEArch ScieNTiST  -  Research & Development '
 ' labORaTORy TecHniciAN  -  Research & Development '
 ' SalEs exECUTIvE  -  Sales '
 ' LabOrATory TEChNICiaN  -  Research & Development '
 ' reSeArcH scieNtist  -  Research & Development '
 ' maNuFAcTUring DIrecToR  -  Research & Development '
 ' ResEARCh DIRECtoR  -  Research & Development '
 ' SaLes exECutIVe  -  Sales ' ' SAleS eXecuTIVe  -  Sales '
 ' manAGER  -  Sales '
 ' LaBOrATORy teCHnIciaN  -  Research & Development '
 ' SAlES ExecuTIVe  -  Sales ' ' salES exEcUtiVE  -  Sales '
 ' SAlEs ExECUTIVe  -  Sales '
 ' HEaLTHcaRE rePReseNtaTIvE  -  Research & Development '
 ' sAles eXEcUtIve  -  Sales '
 ' laBoraTorY tEChnICiaN  -  Research & Development '
 ' MANufacTURIng diREcTOr  -  Research & Development '
 ' REsearch scIENtist  -  Research & Development '
 ' heaLtHcARe RePReSENtaTIve  -  Research & Development '
 ' lAbOrAtorY techNiCiaN  -  Research & Development '
 ' laboRaTOrY TEchniCIaN  -  Research & Development '
 ' SAles ExECutIvE  -  Sales '
 ' HeALtHCarE represEntAtIVe  -  Research & Development '
 ' HEalThCaRe rEpReSENtatIVe  -  Research & Development '
 ' HEalTHCare REPrEsEntATiVE  -  Research & Development '
 ' LaBoRaToRY TEcHnIcian  -  Research & Development '
 ' SAlES ExecutIve  -  Sales '
 ' LaBOrAtory TECHNIciAN  -  Research & Development '
 ' ReSeArch scIenTIsT  -  Research & Development '
 ' SaLEs EXECutIVe  -  Sales '
 ' rESEARch DiRector  -  Research & Development '
 ' HEaltHcare rEPrEsEnTatIVe  -  Research & Development '
 ' lABORatORY TeChNiCiAN  -  Research & Development '
 ' LaBOratory TeChnICiAn  -  Research & Development '
 ' maNAGer  -  Sales ' ' hUMAn rEsOuRCES  -  Human Resources '
 ' sales ExeCUTiVE  -  Sales ' ' saLEs exeCUtiVe  -  Sales '
 ' laBorAtORy TECHnicIaN  -  Research & Development '
 ' ReSeaRch SCIEnTiSt  -  Research & Development '
 ' rEsEArcH scIenTIst  -  Research & Development '
 ' RESeArch dIREcToR  -  Research & Development '
 ' saLes ExECutIVE  -  Sales '
 ' REseARCh SCIenTIst  -  Research & Development '
 ' sALEs exECuTiVe  -  Sales '
 ' rEseArCh SCieNtiST  -  Research & Development '
 ' lABoRAtoRY TecHnIcian  -  Research & Development '
 ' researcH SciEntIST  -  Research & Development '
 ' REseARCH ScIeNTIST  -  Research & Development '
 ' sAles ExecUtive  -  Sales '
 ' mAnUfaCTuRing DiRecTor  -  Research & Development '
 ' SaLes exEcUtIvE  -  Sales '
 ' ReseArCH scIenTIst  -  Research & Development '
 ' ReseArch sCienTiST  -  Research & Development '
 ' ReSEarcH SCiEnTISt  -  Research & Development '
 ' laBORATORY tECHNiciAN  -  Research & Development '
 ' rESeArCH sCIeNtISt  -  Research & Development '
 ' humAN resoURCEs  -  Human Resources '
 ' REseARCh scieNTIsT  -  Research & Development '
 ' SaLeS REPRESENtATIvE  -  Sales '
 ' ResEArch SciEntiST  -  Research & Development '
 ' ReSEaRCh SCIEnTist  -  Research & Development '
 ' hUmAn REsOurCES  -  Human Resources ' ' sALeS EXecuTIVe  -  Sales '
 ' ReseArCh SciENTIsT  -  Research & Development '
 ' sALes rEprESentAtIvE  -  Sales '
 ' humaN reSOUrcEs  -  Human Resources '
 ' lAboRatOrY TechNiCiAn  -  Research & Development '
 ' HeAlthcaRE rEPrEseNTaTIVE  -  Research & Development '
 ' sALeS eXecuTIvE  -  Sales ' ' SALeS RepREsEnTatiVe  -  Sales '
 ' SaLes rePrESENTaTivE  -  Sales '
 ' rESEaRch sCientISt  -  Research & Development '
 ' laBORatoRy TEcHnician  -  Research & Development '
 ' ReSeaRch SCIentiST  -  Research & Development '
 ' RESEarch ScieNtIst  -  Research & Development '
 ' sALeS RePresenTAtivE  -  Sales '
 ' LABORAToRy tEchNICiAn  -  Research & Development '
 ' ResEArch sCIEnTiST  -  Research & Development '
 ' ReSEArcH sCIeNtist  -  Research & Development '
 ' LaBoRaTory techNICIAN  -  Research & Development '
 ' hEaLThcARE rEpresEntATiVE  -  Research & Development '
 ' mANufActuRIng DirECTOR  -  Research & Development '
 ' laBOraTOrY TecHNIcIan  -  Research & Development '
 ' sALES ReprEsentatiVE  -  Sales '
 ' laBoRatoRy TEChNICiAN  -  Research & Development '
 ' ReSEarch scIeNTIsT  -  Research & Development '
 ' researCh SCientIsT  -  Research & Development '
 ' ReseaRch scIENTisT  -  Research & Development '
 ' lAboRaToRY teChNICIan  -  Research & Development '
 ' rEsEaRCh diReCtOR  -  Research & Development '
 ' labORAtoRy tEcHNICIAN  -  Research & Development '
 ' SAlES exeCutive  -  Sales '
 ' hEalthCaRe reprEseNTaTiVe  -  Research & Development '
 ' ManufacTURInG DIRECtOR  -  Research & Development '
 ' sAles exEcUtIve  -  Sales '
 ' reseARCh SCieNTisT  -  Research & Development '
 ' reSEarcH scIENtISt  -  Research & Development '
 ' reseArCH scIentISt  -  Research & Development '
 ' MANuFaCturiNG dIRECTOR  -  Research & Development '
 ' HuMan resoUrCes  -  Human Resources '
 ' huMAn Resources  -  Human Resources ' ' Sales EXEcUTiVe  -  Sales '
 ' reSEaRCH scIenTisT  -  Research & Development '
 ' sales rEpRESEnTatIve  -  Sales '
 ' reseaRch DIrecTOr  -  Research & Development '
 ' sALeS eXECutivE  -  Sales ' ' Human REsouRCeS  -  Human Resources '
 ' rESeArcH sCientIST  -  Research & Development '
 ' SAlES RepreSENtATiVe  -  Sales ' ' SAles execUTIve  -  Sales '
 ' RESEArch SCIEnTISt  -  Research & Development '
 ' labOrATOry TEchnIcIaN  -  Research & Development '
 ' sALes ExEcUTIVe  -  Sales '
 ' REsEARch sCIenTIsT  -  Research & Development '
 ' RESeARch ScIeNtisT  -  Research & Development '
 ' rEseARCH ScIeNtIST  -  Research & Development '
 ' ManAGEr  -  Research & Development '
 ' LaBoratory TECHnICIAn  -  Research & Development '
 ' saLES exEcutivE  -  Sales '
 ' LABorATory TecHnIcIaN  -  Research & Development '
 ' HumAN REsourceS  -  Human Resources '
 ' reseaRCh SCIentIst  -  Research & Development '
 ' LaBOrAToRy teChNiciAn  -  Research & Development '
 ' LaborAtorY Technician  -  Research & Development '
 ' rEseaRCH sCIeNtiSt  -  Research & Development '
 ' LABOrATOrY TEchnIcIAn  -  Research & Development '
 ' ReSeARCh DireCtOr  -  Research & Development '
 ' LaBORatORy tEchNiCian  -  Research & Development '
 ' laBorATOrY TeChNIcIAn  -  Research & Development '
 ' sALEs RePREsentaTive  -  Sales ' ' mAnageR  -  Sales '
 ' rESEArcH SCiEntIst  -  Research & Development '
 ' heAlThcaRe REprESeNTATive  -  Research & Development '
 ' LABoratOry TeCHnIcIan  -  Research & Development '
 ' hEAlthCarE rEpresenTATiVe  -  Research & Development '
 ' HealTHcaRE rEPreSEntATive  -  Research & Development '
 ' MaNUfActuRInG diREctOr  -  Research & Development '
 ' saLes REPrEsentAtiVE  -  Sales '
 ' LABorAtORy TEchnIciAn  -  Research & Development '
 ' rEsEARcH ScieNTisT  -  Research & Development '
 ' SalEs eXecuTive  -  Sales ' ' SaLeS EXEcUTiVe  -  Sales '
 ' MaNufacTuRINg DirEcTor  -  Research & Development '
 ' resEaRcH scIENTiSt  -  Research & Development '
 ' SALes eXECuTIvE  -  Sales '
 ' LabORatORy tEChnIcIAn  -  Research & Development '
 ' LaBorAtOrY teCHNICIAn  -  Research & Development '
 ' saLEs RePREsentAtiVE  -  Sales '
 ' laBOrATORY TechNiCiAn  -  Research & Development '
 ' sALes exECutIVe  -  Sales '
 ' LabOraToRy technICiAN  -  Research & Development '
 ' lAborAtORY TeCHNIciAN  -  Research & Development '
 ' SAlES rePrESentaTIVe  -  Sales ' ' mANager  -  Research & Development '
 ' HEAlThcARe rEPREseNtATIVe  -  Research & Development '
 ' REsEArCH dIrECTOr  -  Research & Development '
 ' rESeaRch SCIeNTIST  -  Research & Development '
 ' SALEs REpRESentatIve  -  Sales ' ' SalES eXecUTiVE  -  Sales '
 ' SaLes REPREseNtATive  -  Sales '
 ' ReSeArch sCIEnTiSt  -  Research & Development '
 ' sales REPReSeNtAtIVe  -  Sales ' ' sAles execUtIve  -  Sales '
 ' LABOrATORy tEChNiCIaN  -  Research & Development '
 ' hEalthCarE REPResEnTaTive  -  Research & Development '
 ' mANagER  -  Research & Development ' ' sales repResENTaTiVE  -  Sales '
 ' laboRAToRY tEChniCIAN  -  Research & Development '
 ' resEaRcH sCIeNTisT  -  Research & Development '
 ' maNuFAcTurING diREctOr  -  Research & Development '
 ' mAnAger  -  Research & Development ' ' SALes eXEcUtiVe  -  Sales '
 ' reSearCh SCiEnTist  -  Research & Development '
 ' rESEARch SciENtiSt  -  Research & Development '
 ' hUman ResourCeS  -  Human Resources ' ' SALES exeCUtIve  -  Sales '
 ' ReseaRcH sCientiSt  -  Research & Development '
 ' LAbORaTory tEcHnIciAN  -  Research & Development '
 ' lABOraTOrY tecHniciaN  -  Research & Development '
 ' sALeS exEcUtiVe  -  Sales ' ' salEs eXEcuTIvE  -  Sales '
 ' SAleS ExEcuTiVE  -  Sales ' ' SaLeS exEcUTiVE  -  Sales '
 ' ReSEArch scieNTiST  -  Research & Development '
 ' reSEArCh sCieNtiST  -  Research & Development '
 ' ReseaRCh dIRecTor  -  Research & Development '
 ' SaLEs ExECUtiVE  -  Sales '
 ' LAbORAToRy tEcHNICian  -  Research & Development '
 ' sAleS EXECUtIvE  -  Sales ']

Las frecuencias de los valores nicos de las categoras son: roledepartament
 rESEArcH SCiEntIst  -  Research & Development            2
 MaNAgeR  -  Sales                                        2
 hEalthCaRe reprEseNTaTiVe  -  Research & Development     2
 SaleS EXeCuTivE  -  Sales                                2
 labORAtoRy tEcHNICIAN  -  Research & Development         2
                                                         ..
 labORaTORY teChNIcIaN  -  Research & Development         1
 saLES eXEcUTiVE  -  Sales                                1
 mANUfacTURiNG dIRectOR  -  Research & Development        1
 huMAn ResOurces  -  Human Resources                      1
 sAleS EXECUtIvE  -  Sales                                1
Name: count, Length: 301, dtype: int64
Cantidad de valores nulos: 1366

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'REMOTEWORK' -----------

Sus valores nicos son: ['Yes' '1' 'False' '0' 'True']

Las frecuencias de los valores nicos de las categoras son: remotework
1        375
True     362
False    318
0        318
Yes      305
Name: count, dtype: int64
Cantidad de valores nulos: 0

In [16]:
# Porcentaje de nulos de cada columna

df.isna().sum()/df.shape[0]*100

age                           0.000000
attrition                     0.000000
businesstravel               47.735399
dailyrate                     0.000000
department                   81.406436
distancefromhome              0.000000
education                     0.000000
educationfield               46.126341
employeecount                 0.000000
employeenumber                0.000000
environmentsatisfaction       0.000000
gender                        0.000000
hourlyrate                   75.506555
jobinvolvement                0.000000
joblevel                      0.000000
jobrole                       0.000000
jobsatisfaction               0.000000
maritalstatus                40.226460
monthlyincome                29.141836
monthlyrate                   0.000000
numcompaniesworked            0.000000
over18                       55.899881
overtime                     41.477950
percentsalaryhike             0.000000
performancerating            11.918951
relationshipsatisfaction      0.000000
standardhours                20.917759
stockoptionlevel              0.000000
totalworkingyears            32.717521
trainingtimeslastyear         0.000000
worklifebalance               6.793802
yearsatcompany                0.000000
yearsincurrentrole           97.914184
yearssincelastpromotion       0.000000
yearswithcurrmanager          0.000000
sameasmonthlyincome          29.141836
datebirth                     0.000000
salary                       16.984505
roledepartament              81.406436
numberchildren              100.000000
remotework                    0.000000
dtype: float64

In [17]:
# Porcentaje de nulos sobre los nulos

# Cantidad de nulos que hay por columnas
nulos_columnas = df.isna().sum()

# El total de nulos en todas las columnas
total_nulos = nulos_columnas.sum()

porcentaje = ((nulos_columnas/total_nulos) *100).round(2)

print(f' El porcetaje que cada columna tiene de nulo es de: \n {porcentaje}')

 El porcetaje que cada columna tiene de nulo es de:
 age                          0.00
attrition                    0.00
businesstravel               5.85
dailyrate                    0.00
department                   9.98
distancefromhome             0.00
education                    0.00
educationfield               5.66
employeecount                0.00
employeenumber               0.00
environmentsatisfaction      0.00
gender                       0.00
hourlyrate                   9.26
jobinvolvement               0.00
joblevel                     0.00
jobrole                      0.00
jobsatisfaction              0.00
maritalstatus                4.93
monthlyincome                3.57
monthlyrate                  0.00
numcompaniesworked           0.00
over18                       6.86
overtime                     5.09
percentsalaryhike            0.00
performancerating            1.46
relationshipsatisfaction     0.00
standardhours                2.57
stockoptionlevel             0.00
totalworkingyears            4.01
trainingtimeslastyear        0.00
worklifebalance              0.83
yearsatcompany               0.00
yearsincurrentrole          12.01
yearssincelastpromotion      0.00
yearswithcurrmanager         0.00
sameasmonthlyincome          3.57
datebirth                    0.00
salary                       2.08
roledepartament              9.98
numberchildren              12.27
remotework                   0.00
dtype: float64

In [18]:
# Cdigo nos esta diciendo que no tenemos filas duplicadas
df.duplicated().sum()

64

In [19]:
# si por ejemplo evaluaramos si existen valores duplicados para la columna de 'id_' debera salir que no existe ningn valor duplicado, ya que estos id deberan ser nicos
# usemos de nuevo el parmetro 'subset'
df.duplicated(subset  = "employeenumber").sum()

64

In [20]:
dupli = df[df.duplicated(subset  = "employeenumber", keep=False)].sort_values('employeenumber')

In [21]:
dupli

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
8,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,2,1,NaN,3,4,mANAGEr,1,Married,"13829,17$","35955,83$",7,NaN,No,16,"3,0",2,Full Time,1,"22,0",2,"3,0",18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
1656,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,2,1,NaN,3,4,mANAGEr,1,Married,"13829,17$","35955,83$",7,NaN,No,16,"3,0",2,Full Time,1,"22,0",2,"3,0",18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
60,36,No,NaN,610.174603,NaN,5,2,NaN,1,61,4,0,NaN,3,2,lAboratORy TeChNiCiaN,2,Single,"4928,33$","12813,67$",8,Y,No,16,"3,0",4,Full Time,0,"16,0",3,"4,0",13,NaN,3,7,"4928,33$",1987,"59140,00$",NaN,NaN,1
1652,36,No,NaN,610.174603,NaN,5,2,NaN,1,61,4,0,NaN,3,2,lAboratORy TeChNiCiaN,2,Single,"4928,33$","12813,67$",8,Y,No,16,"3,0",4,Full Time,0,"16,0",3,"4,0",13,NaN,3,7,"4928,33$",1987,"59140,00$",NaN,NaN,1
1676,47,No,travel_rarely,1032.487286,NaN,4,3,Life Sciences,1,76,3,1,NaN,2,3,maNufACTURING DIREctOr,2,Divorced,"8339,32$","21682,23$",8,NaN,Yes,12,NaN,3,Part Time,1,NaN,4,"3,0",22,NaN,14,10,"8339,32$",1976,"100071,84$",NaN,NaN,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,48,No,travel_rarely,417.960317,NaN,2,5,NaN,1,1568,2,1,NaN,3,2,sALES EXEcuTIVe,4,Married,"3375,83$","8777,17$",2,NaN,No,14,"3,0",1,Part Time,1,"14,0",2,"3,0",9,NaN,6,7,"3375,83$",1975,"40510,00$",NaN,NaN,True
1657,45,No,travel_rarely,495.753968,NaN,2,3,Other,1,1569,4,0,NaN,3,2,sAles executiVe,2,NaN,NaN,"10410,83$",0,NaN,No,19,"3,0",2,Part Time,1,NaN,3,"4,0",8,NaN,3,7,NaN,1978,"48050,00$",NaN,NaN,False
1568,45,No,travel_rarely,495.753968,NaN,2,3,Other,1,1569,4,0,NaN,3,2,sAles executiVe,2,NaN,NaN,"10410,83$",0,NaN,No,19,"3,0",2,Part Time,1,NaN,3,"4,0",8,NaN,3,7,NaN,1978,"48050,00$",NaN,NaN,False
1671,31,No,NaN,556.256661,NaN,12,3,Medical,1,1608,4,1,NaN,3,2,HEaltHCarE REPreSENtAtIve,4,NaN,NaN,"11681,39$",0,NaN,NaN,11,"3,0",3,Part Time,2,"10,0",2,"1,0",9,NaN,8,5,NaN,1992,"53914,11$",NaN,NaN,True
1607,31,No,NaN,556.256661,NaN,12,3,Medical,1,1608,4,1,NaN,3,2,HEaltHCarE REPreSENtAtIve,4,NaN,NaN,"11681,39$",0,NaN,NaN,11,"3,0",3,Part Time,2,"10,0",2,"1,0",9,NaN,8,5,NaN,1992,"53914,11$",NaN,NaN,True

In [22]:
df['gender'].unique()
df['gender'].value_counts()

gender
0    1009
1     669
Name: count, dtype: int64

In [23]:
df['environmentsatisfaction'].unique()

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43])

In [24]:
df['environmentsatisfaction'].value_counts()

environmentsatisfaction
4     483
3     471
2     316
1     306
35      7
12      7
14      6
13      6
24      5
47      5
36      4
48      4
41      4
46      4
42      4
45      3
11      3
22      3
17      3
18      3
20      3
25      3
27      3
37      2
29      2
19      2
38      2
31      2
15      2
16      2
26      1
39      1
10      1
49      1
21      1
28      1
33      1
43      1
Name: count, dtype: int64

In [25]:
df['employeenumber'].unique()

array([   1,    2,    3, ..., 1612, 1613, 1614])

In [26]:
df['employeecount'].unique()

array([1])

In [27]:
df['educationfield'].unique()

array([nan, 'Life Sciences', 'Technical Degree', 'Medical', 'Other',
       'Marketing', 'Human Resources'], dtype=object)

In [28]:
# Valores unicos de la columna 'AGE'

df['age'].unique()

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53',
       '43', '60', '32', '37', '49', '39', '50', '44', '30',
       'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28',
       '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24',
       'thirty', '23', '22', '21', '20', 'twenty-six', '19',
       'thirty-seven', '18', 'thirty-two', 'twenty-four'], dtype=object)

In [29]:

df['attrition'].unique()

array(['No', 'Yes'], dtype=object)

In [30]:
df['businesstravel'].unique()

array([nan, 'travel_rarely', 'travel_frequently', 'non-travel'],
      dtype=object)

In [31]:
df['businesstravel'].value_counts(dropna=False)

businesstravel
NaN                  801
travel_rarely        616
travel_frequently    168
non-travel            93
Name: count, dtype: int64

In [32]:
df['dailyrate'].value_counts()

dailyrate
556.256661     326
290.035510     308
1032.487286    150
1582.771346     55
1973.984127     38
              ...
320.047619       1
470.063492       1
436.428571       1
501.325397       1
2004.785714      1
Name: count, Length: 673, dtype: int64

In [33]:
df['department'].unique()

array([nan, ' Research & Development ', ' Sales ', ' Human Resources '],
      dtype=object)

In [34]:
df['distancefromhome'].unique()

array([  6,   1,   4,   2,   3,  22,  25,   9,   7,  23,  10,  12,  14,
       -13,  15,   8, -42,  28, -37,   5,  16, -35,  26, -26,  24,  29,
       -25,  17,  21, -18, -10, -30, -27,  20, -31, -29, -39,  18, -21,
       -15,  11,  13, -14,  19, -33, -34, -46, -36, -19,  27, -12, -23,
       -45, -28, -47, -32, -24, -16, -22, -41, -49, -11, -48, -38, -20,
       -17, -43, -40, -44])

In [35]:
df['education'].unique()

array([3, 4, 2, 1, 5])

In [36]:
df['education'].value_counts()

education
3    649
4    461
2    322
1    186
5     60
Name: count, dtype: int64

In [37]:
df['educationfield'].value_counts(dropna=False)

educationfield
NaN                 774
Life Sciences       367
Medical             286
Marketing           106
Technical Degree     70
Other                63
Human Resources      12
Name: count, dtype: int64

In [38]:
df['hourlyrate'].unique()

array([         nan,  69.53208262, 172.84325397, 216.04761905,
        79.97321429, 129.06091077, 246.74801587, 207.17460317,
        60.8859127 ,  36.25443872, 139.99503968,  86.24107143,
       197.84641831,  61.06646825, 245.62003968, 123.97718254,
       148.44246032, 255.96329365, 134.41071429,  71.92559524,
       113.78869048, 175.10019841, 247.49007937, 220.83234127,
        91.34821429,  37.77480159, 198.9593254 , 124.05456349,
       247.58035714, 108.48809524,  43.17857143,  68.46924603,
        32.48710317,  55.26289683,  83.46825397,  79.26388889,
        72.28670635,  45.96428571,  31.66170635,  65.19345238,
        52.24503968, 143.9156746 , 113.40178571, 143.19345238,
       139.86607143,  70.57142857,  97.04861111,  45.02281746,
       223.47619048, 134.9781746 ,  74.40178571,  67.14087302,
        58.06150794,  35.05357143,  73.18948413, 164.33134921,
        43.53968254,  54.79861111, 252.59722222,  83.81646825,
        46.71230159,  33.00297619,  70.77777778,  69.23015873,
        54.55357143,  81.53373016, 217.76289683,  50.76190476,
        88.24007937,  57.36507937, 115.2718254 ,  35.77579365,
        59.95734127,  28.20535714,  54.91468254, 227.48710317,
        78.18055556,  54.08928571, 177.0218254 ,  52.9672619 ,
        46.38988095,  80.88888889, 118.70238095,  56.39781746,
        31.33928571,  38.35515873,  35.67261905,  83.99702381,
        55.25      ,  28.70833333,  69.29464286,  69.7718254 ,
        50.86507937,  38.17460317, 244.35615079,  83.37797619,
        25.97420635, 243.02777778,  26.1031746 ,  76.60714286,
        33.81547619,  41.42460317,  89.38789683, 240.71924603,
        82.66865079,  28.03769841,  34.26686508, 141.41369048,
        32.79662698,  68.4047619 ,  84.31944444, 153.92361111,
        50.2202381 ,  26.37400794, 104.72222222,  59.02876984,
        47.82142857,  40.61210317,  32.92559524,  76.51686508,
       141.01388889,  36.09821429,  44.51984127, 106.06349206,
        73.91170635,  32.74503968,  30.64285714,  48.49206349,
        26.82539683,  65.39980159,  70.50694444,  44.10714286,
        41.01190476, 145.01190476,  82.43650794,  42.71428571,
        40.19940476,  29.72718254,  50.38789683,  44.42956349,
        35.5952381 ,  81.17261905,  71.02281746, 104.50297619,
        51.30357143,  34.30555556,  36.22718254,  33.1577381 ,
        32.25496032,  50.55555556,  30.65575397,  57.0297619 ,
        66.68948413, 153.67857143, 120.97222222,  31.82936508,
        27.70238095,  50.11706349,  43.69444444,  58.10019841,
       175.28075397,  85.68650794,  30.56547619,  67.81150794,
        54.12797619,  58.78373016,  33.06746032, 126.6984127 ,
        26.8640873 ,  13.01289683, 101.38194444,  29.32738095,
        27.35416667,  33.53174603,  61.60813492,  36.79464286,
        36.60119048, 108.02380952, 226.55853175,  68.27579365,
        31.42956349,  59.94444444,  14.07043651,  66.43154762,
        27.65079365,  26.69642857,  35.99503968,  74.96924603,
        34.76984127,  29.12103175, 108.23015873, 247.47718254,
        67.42460317,  34.82142857, 133.15972222])

In [39]:
df['hourlyrate'].value_counts()

hourlyrate
36.254439     76
69.532083     75
129.060911    41
197.846418    14
246.748016     8
              ..
28.205357      1
54.914683      1
227.487103     1
78.180556      1
133.159722     1
Name: count, Length: 194, dtype: int64

In [40]:
df['jobinvolvement'].unique()

array([3, 2, 4, 1])

In [41]:
df['jobinvolvement'].value_counts(dropna=False)

jobinvolvement
3    995
2    421
4    170
1     92
Name: count, dtype: int64

In [42]:
df['joblevel'].unique()

array([5, 4, 3, 2, 1])

In [43]:
df['joblevel'].value_counts(dropna=False)

joblevel
2    618
1    612
3    255
4    114
5     79
Name: count, dtype: int64

In [44]:
df['jobsatisfaction'].unique()

array([3, 4, 1, 2])

In [45]:
df['numcompaniesworked'].unique()

array([7, 0, 1, 3, 2, 4, 8, 9, 5, 6])

In [46]:
df['numcompaniesworked'].value_counts(dropna=False)

numcompaniesworked
1    597
0    234
3    174
4    166
2    163
7     88
6     75
5     67
9     59
8     55
Name: count, dtype: int64

In [47]:
df['over18'].unique()

array(['Y', nan], dtype=object)

In [48]:
df['over18'].value_counts(dropna=False)

over18
NaN    938
Y      740
Name: count, dtype: int64

In [49]:
df['overtime'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [50]:
df['overtime'].value_counts(dropna=False)

overtime
No     714
NaN    696
Yes    268
Name: count, dtype: int64

In [51]:
df['percentsalaryhike'].unique()

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18])

In [52]:
df['percentsalaryhike'].value_counts(dropna=False)

percentsalaryhike
11    241
13    239
12    238
14    229
15    112
18    102
17     92
16     89
19     86
22     61
20     60
21     51
23     33
24     26
25     19
Name: count, dtype: int64

In [53]:
df['performancerating'].unique()

array(['3,0', '4,0', nan], dtype=object)

In [54]:
df['performancerating'].value_counts(dropna=False)

performancerating
3,0    1257
4,0     221
NaN     200
Name: count, dtype: int64

In [55]:
df['relationshipsatisfaction'].unique()

array([3, 1, 4, 2])

In [56]:
df['relationshipsatisfaction'].value_counts(dropna=False)

relationshipsatisfaction
3    527
4    483
2    350
1    318
Name: count, dtype: int64

In [57]:
df['standardhours'].unique()

array(['Full Time', nan, 'Part Time'], dtype=object)

In [58]:
df['standardhours'].value_counts(dropna=False)

standardhours
Part Time    927
Full Time    400
NaN          351
Name: count, dtype: int64

In [59]:
df['stockoptionlevel'].unique()

array([0, 1, 2, 3])

In [60]:
df['stockoptionlevel'].value_counts(dropna=False)

stockoptionlevel
0    719
1    689
2    177
3     93
Name: count, dtype: int64

In [61]:
df['totalworkingyears'].unique()

array([nan, '34,0', '22,0', '28,0', '20,0', '21,0', '33,0', '40,0',
       '18,0', '25,0', '15,0', '17,0', '26,0', '16,0', '24,0', '14,0',
       '23,0', '27,0', '19,0', '11,0', '38,0', '37,0', '13,0', '12,0',
       '29,0', '10,0', '36,0', '35,0', '9,0', '31,0', '32,0', '8,0',
       '7,0', '30,0', '6,0', '5,0', '4,0', '3,0', '2,0', '1,0', '0,0'],
      dtype=object)

In [62]:
df['totalworkingyears'].value_counts(dropna=False).sort_index()

totalworkingyears
0,0       8
1,0      55
10,0    151
11,0     31
12,0     34
13,0     31
14,0     31
15,0     28
16,0     30
17,0     23
18,0     28
19,0     17
2,0      21
20,0     30
21,0     23
22,0     19
23,0     13
24,0     14
25,0      6
26,0      8
27,0      6
28,0     14
29,0      6
3,0      34
30,0      3
31,0      4
32,0      3
33,0      6
34,0      2
35,0      3
36,0      6
37,0      7
38,0      1
4,0      57
40,0      4
5,0      68
6,0      88
7,0      59
8,0      86
9,0      71
NaN     549
Name: count, dtype: int64

In [63]:
df['trainingtimeslastyear'].unique()

array([5, 3, 2, 0, 1, 4, 6])

In [64]:
df['trainingtimeslastyear'].value_counts(dropna=False)

trainingtimeslastyear
2    625
3    557
4    143
5    137
1     81
6     72
0     63
Name: count, dtype: int64

In [65]:
df['worklifebalance'].unique()

array(['3,0', nan, '2,0', '4,0', '1,0'], dtype=object)

In [66]:
df['worklifebalance'].value_counts(dropna=False)

worklifebalance
3,0    946
2,0    374
4,0    162
NaN    114
1,0     82
Name: count, dtype: int64

In [67]:
df['yearsatcompany'].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0])

In [68]:
df['yearsatcompany'].value_counts(dropna=False)

yearsatcompany
5     214
1     181
3     149
2     145
10    139
4     116
7     115
8     113
9      98
6      84
0      47
11     37
20     30
13     27
15     22
14     19
22     18
18     16
12     15
16     14
21     14
19     12
17      9
24      7
25      5
33      5
26      4
36      4
32      3
27      3
31      3
40      3
29      2
23      2
34      1
37      1
30      1
Name: count, dtype: int64

In [69]:
df['yearsincurrentrole'].unique()

array([nan, '13,0', '12,0', '11,0', '7,0', '6,0', '4,0', '3,0', '2,0',
       '1,0', '0,0'], dtype=object)

In [70]:
df['yearsincurrentrole'].value_counts(dropna=False)

yearsincurrentrole
NaN     1643
2,0       12
7,0        5
0,0        4
4,0        3
1,0        3
11,0       2
6,0        2
3,0        2
13,0       1
12,0       1
Name: count, dtype: int64

In [71]:
df['yearssincelastpromotion'].unique()

array([15, 11,  5,  2,  4,  7,  0,  1, 13, 14,  8, 12,  3,  6, 10,  9])

In [72]:
df['yearswithcurrmanager'].unique()

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16])

In [73]:
df['sameasmonthlyincome'].unique()

array(['16280,83$', nan, '14307,50$', '12783,92$', '14311,67$',
       '8339,32$', '13829,17$', '15943,72$', '16644,17$', '15034,17$',
       '16038,33$', '4492,84$', '8956,67$', '5167,50$', '3334,17$',
       '8705,83$', '2675,00$', '8555,00$', '8729,17$', '3934,17$',
       '3845,83$', '14132,50$', '8588,33$', '4505,00$', '4918,33$',
       '4928,33$', '5538,33$', '11100,00$', '5572,50$', '11560,00$',
       '15870,83$', '13345,83$', '8010,83$', '3588,33$', '14205,00$',
       '4222,50$', '3076,67$', '2342,59$', '4789,17$', '8685,00$',
       '5289,17$', '1956,67$', '10408,33$', '6683,33$', '7452,50$',
       '16060,00$', '4647,50$', '2242,50$', '6169,17$', '7352,50$',
       '2982,50$', '14815,83$', '15177,50$', '15991,67$', '15989,17$',
       '8340,00$', '6656,67$', '5902,50$', '3935,83$', '2839,17$',
       '2440,83$', '10025,83$', '12855,83$', '5135,00$', '4271,67$',
       '8015,83$', '4175,00$', '15860,83$', '8666,67$', '2327,50$',
       '4728,33$', '7010,00$', '2790,00$', '4424,17$', '6378,33$',
       '10673,33$', '5488,33$', '2099,17$', '10933,33$', '2609,17$',
       '5561,67$', '14884,17$', '6205,00$', '11464,17$', '13831,67$',
       '2557,50$', '7700,83$', '5393,33$', '6934,17$', '7148,33$',
       '3497,50$', '8240,00$', '4730,83$', '7938,33$', '5687,50$',
       '3686,67$', '4534,17$', '5061,67$', '5143,33$', '4670,83$',
       '3599,17$', '2970,00$', '5217,50$', '5670,00$', '16196,67$',
       '4856,67$', '3901,67$', '1765,83$', '4978,33$', '11010,00$',
       '3375,83$', '4004,17$', '2284,17$', '7861,67$', '4496,67$',
       '9299,17$', '4133,33$', '7327,50$', '1846,67$', '9760,83$',
       '4420,00$', '9252,50$', '5526,67$', '6322,50$', '3612,50$',
       '4983,33$', '3536,67$', '4356,67$', '2250,00$', '1971,67$',
       '1940,83$', '8604,17$', '9037,50$', '5320,83$', '3050,00$',
       '7283,33$', '11249,17$', '2909,17$', '4350,00$', '8543,33$',
       '16450,00$', '5174,17$', '3778,33$', '7083,33$', '3865,83$',
       '4469,17$', '3400,83$', '8994,17$', '9042,50$', '3654,17$',
       '3388,33$', '4338,33$', '2212,50$', '2141,67$', '3751,67$',
       '4140,00$', '4289,17$', '2265,00$', '2949,17$', '4556,67$',
       '4844,17$', '8055,83$', '4729,17$', '6095,00$', '11308,33$',
       '8325,83$', '8540,00$', '9115,00$', '2160,83$', '9898,33$',
       '6745,83$', '14046,67$', '3780,83$', '3345,00$', '10618,33$',
       '8735,00$', '3540,83$', '5457,50$', '12009,17$', '6864,17$',
       '2675,83$', '13920,00$', '3806,67$', '4994,17$', '5415,83$',
       '5330,83$', '3018,33$', '5228,33$', '4573,33$', '2095,00$',
       '2663,33$', '2850,00$', '3405,83$', '3500,00$', '4171,67$',
       '5418,33$', '5290,83$', '3796,67$', '3525,00$', '8967,50$',
       '4336,67$', '14499,17$', '4295,83$', '15657,50$', '4069,17$',
       '2496,67$', '7731,67$', '3468,33$', '7377,50$', '6463,33$',
       '3324,17$', '3085,00$', '2254,17$', '3706,67$', '7448,33$',
       '8280,00$', '15616,67$', '4560,83$', '11252,50$', '11290,83$',
       '2311,67$', '7865,83$', '4387,50$', '3179,17$', '1990,83$',
       '3333,33$', '14653,33$', '4717,50$', '4057,50$', '3874,17$',
       '8746,67$', '2840,00$', '3548,33$', '4570,83$', '2318,33$',
       '5240,00$', '3495,00$', '2110,00$', '11438,33$', '3422,50$',
       '2997,50$', '3429,17$', '5226,67$', '7670,00$', '3644,17$',
       '1720,00$', '2025,00$', '4064,17$', '3133,33$', '1677,50$',
       '2305,00$', '5427,50$', '1855,00$', '4634,17$', '1786,67$',
       '4477,50$', '2414,17$', '4434,17$', '1667,50$', '3670,00$',
       '3286,67$', '15789,17$', '1678,33$', '11386,67$', '4184,17$',
       '3949,17$', '3597,50$', '1686,67$', '3274,17$', '3687,50$',
       '1940,00$', '2214,17$', '2185,00$', '2676,67$', '2425,83$',
       '1813,33$', '15554,17$', '5341,67$', '4117,50$', '3319,17$',
       '2420,00$', '2246,67$', '5629,17$', '9137,50$', '16171,67$',
       '5448,33$', '1881,67$', '2211,67$', '9945,83$', '3245,00$',
       '2000,00$', '2872,50$', '16260,83$', '2215,83$', '7372,50$',
       '4042,50$', '3814,17$', '11475,00$', '1914,17$', '2041,67$',
       '3618,33$', '2143,33$', '5416,67$', '2624,17$', '4436,67$',
       '3651,67$', '2127,50$', '4944,17$', '9111,67$', '1685,00$',
       '3546,67$', '2983,33$', '2415,83$', '4635,00$', '1980,83$',
       '2332,50$', '2876,67$', '2342,50$', '3647,50$', '3533,33$',
       '3522,50$', '3264,17$', '1701,67$', '2350,83$', '8297,50$',
       '1839,17$', '4775,83$', '3781,67$', '1733,33$', '3253,33$',
       '3855,83$', '1918,33$', '8830,00$', '4555,83$', '4807,50$',
       '1995,00$', '2690,83$', '13685,00$', '4705,83$', '1721,67$',
       '4571,67$', '2635,00$', '5542,50$', '2424,17$', '4081,67$',
       '2650,00$', '3390,83$', '5326,67$', '4045,83$', '2760,00$',
       '2150,00$', '1805,00$', '3645,00$', '4587,50$', '2155,83$',
       '13310,00$', '2860,83$', '2897,50$', '3255,83$', '2870,83$',
       '2300,00$', '5245,00$', '10930,00$', '2992,50$', '4504,17$',
       '1754,17$', '3251,67$', '2218,33$', '4589,17$', '6752,50$',
       '3315,00$', '4499,17$', '8706,67$', '3700,00$', '2216,67$',
       '2812,50$', '1890,83$', '2340,83$', '9045,00$', '2142,50$',
       '2849,17$', '2084,17$', '2138,33$', '3266,67$', '11636,67$',
       '5450,00$', '1870,00$', '13486,67$', '3527,50$', '12345,00$',
       '1931,67$', '16030,83$', '2126,67$', '2231,67$', '4898,33$',
       '3439,17$', '1790,00$', '5555,83$', '8103,33$', '2823,33$',
       '2531,67$', '1935,00$', '2438,33$', '3754,17$', '5560,83$',
       '11325,83$', '16264,17$', '16001,67$', '8373,33$', '2269,17$',
       '2634,17$', '1183,33$', '1000,00$', '4365,00$', '1975,00$',
       '5650,83$', '5544,17$', '2063,33$', '1904,17$', '2873,33$',
       '3798,33$', '1418,33$', '2136,67$', '3150,00$', '1950,00$',
       '1772,50$', '1694,17$', '8001,67$', '13855,83$', '1735,83$',
       '84083$', '6550,83$', '2201,67$', '4267,50$', '2245,00$',
       '4245,00$', '1928,33$', '1673,33$', '8793,33$', '1882,50$',
       '3469,17$', '15252,50$', '1983,33$', '3980,83$', '87667$',
       '6125,83$', '3971,67$', '2377,50$', '1755,83$', '1841,67$',
       '10992,50$', '15220,83$', '93167$', '2365,00$', '15050,83$',
       '1342,50$', '3973,33$', '2003,33$', '5323,33$', '4034,17$',
       '1728,33$', '2476,67$', '5679,17$', '2241,67$', '3489,17$',
       '9069,17$', '2385,00$', '5612,50$', '4411,67$', '2030,83$',
       '2463,33$', '3873,33$', '2336,67$', '2032,50$', '2380,00$',
       '2444,17$', '2385,83$', '2381,67$', '94083$', '16192,50$',
       '1923,33$', '2115,83$', '1980,00$', '4295,00$', '1811,67$',
       '2119,17$', '1848,33$', '2045,83$', '4380,83$', '2528,33$',
       '6993,33$', '15990,83$', '3578,33$', '3705,83$'], dtype=object)

In [74]:
df['sameasmonthlyincome'].value_counts(dropna=False)

sameasmonthlyincome
NaN          489
2342,59$     228
4492,84$     227
8339,32$     105
12783,92$     42
            ...
3018,33$       1
5330,83$       1
4994,17$       1
3806,67$       1
3705,83$       1
Name: count, Length: 494, dtype: int64

In [75]:
df['datebirth'].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005])

In [76]:
df['datebirth'].value_counts(dropna=False)

datebirth
1992    89
1988    88
1989    86
1994    82
1987    80
1991    67
1993    66
1985    64
1990    63
1983    60
1986    56
1995    54
1996    54
1978    50
1981    50
1982    48
1997    47
1984    46
1980    42
1977    38
1979    34
1973    34
1999    31
1976    31
1998    28
1974    26
1968    26
1972    22
1975    22
1969    20
1970    20
1971    19
1967    18
1965    17
2001    17
2002    17
2000    15
1964    11
2003    11
2004     9
2005     9
1966     6
1963     5
Name: count, dtype: int64

In [77]:
df['salary'].unique()

array(['195370,00$', '199990,00$', '192320,00$', '171690,00$', nan,
       '100071,84$', '53914,11$', '165950,00$', '199730,00$',
       '134020,00$', '132060,00$', '195450,00$', '180410,00$',
       '192460,00$', '107480,00$', '167520,00$', '62010,00$',
       '198450,00$', '40010,00$', '104470,00$', '191324,62$',
       '160640,00$', '32100,00$', '102660,00$', '104750,00$', '61620,00$',
       '47210,00$', '153407,07$', '28111,13$', '46150,00$', '169590,00$',
       '54060,00$', '59020,00$', '108550,00$', '59140,00$', '66460,00$',
       '139730,00$', '66870,00$', '47350,00$', '138720,00$', '190450,00$',
       '96130,00$', '115100,00$', '170460,00$', '36920,00$', '198470,00$',
       '23080,00$', '57470,00$', '104220,00$', '63470,00$', '23480,00$',
       '30720,00$', '124900,00$', '80200,00$', '170680,00$', '89430,00$',
       '192720,00$', '55770,00$', '26910,00$', '74030,00$', '88230,00$',
       '35790,00$', '177790,00$', '182130,00$', '135770,00$',
       '191900,00$', '171230,00$', '191870,00$', '79880,00$', '70830,00$',
       '34070,00$', '29290,00$', '120310,00$', '154270,00$', '51260,00$',
       '96190,00$', '190330,00$', '104000,00$', '56740,00$', '191970,00$',
       '84120,00$', '33480,00$', '53090,00$', '76540,00$', '128080,00$',
       '65860,00$', '25190,00$', '170990,00$', '131200,00$', '44440,00$',
       '98520,00$', '178610,00$', '137570,00$', '165980,00$', '42850,00$',
       '101240,00$', '97140,00$', '99240,00$', '112450,00$', '92410,00$',
       '64720,00$', '30550,00$', '83210,00$', '31430,00$', '85780,00$',
       '98880,00$', '133410,00$', '29090,00$', '95260,00$', '44240,00$',
       '60740,00$', '61460,00$', '61720,00$', '46680,00$', '56050,00$',
       '43190,00$', '35640,00$', '62610,00$', '68040,00$', '194360,00$',
       '24550,00$', '50550,00$', '52570,00$', '59740,00$', '30340,00$',
       '83920,00$', '40510,00$', '48050,00$', '53370,00$', '94340,00$',
       '53960,00$', '111590,00$', '87930,00$', '191890,00$', '22160,00$',
       '117130,00$', '53040,00$', '111030,00$', '66320,00$', '75870,00$',
       '43350,00$', '59800,00$', '52280,00$', '27000,00$', '23660,00$',
       '23290,00$', '42940,00$', '67250,00$', '103250,00$', '44470,00$',
       '108450,00$', '54720,00$', '63850,00$', '75250,00$', '87400,00$',
       '134990,00$', '34910,00$', '102520,00$', '197400,00$', '62090,00$',
       '70940,00$', '45340,00$', '85000,00$', '46390,00$', '53630,00$',
       '40810,00$', '35780,00$', '173280,00$', '107930,00$', '108510,00$',
       '104660,00$', '23620,00$', '64390,00$', '57690,00$', '40660,00$',
       '52060,00$', '25700,00$', '45020,00$', '49680,00$', '51470,00$',
       '27180,00$', '54680,00$', '96670,00$', '51540,00$', '56750,00$',
       '73140,00$', '50980,00$', '135700,00$', '67120,00$', '99910,00$',
       '102480,00$', '25930,00$', '80950,00$', '168560,00$', '45370,00$',
       '179240,00$', '40140,00$', '127420,00$', '33760,00$', '104820,00$',
       '42490,00$', '195860,00$', '82370,00$', '47740,00$', '45680,00$',
       '59930,00$', '64990,00$', '34520,00$', '63970,00$', '27250,00$',
       '36220,00$', '61800,00$', '62740,00$', '43810,00$', '25590,00$',
       '54880,00$', '25140,00$', '31960,00$', '34200,00$', '53680,00$',
       '129360,00$', '42210,00$', '49630,00$', '76390,00$', '135250,00$',
       '63800,00$', '31020,00$', '45560,00$', '42300,00$', '48590,00$',
       '63220,00$', '107610,00$', '29730,00$', '52040,00$', '173990,00$',
       '168850,00$', '43230,00$', '51550,00$', '29360,00$', '187890,00$',
       '48830,00$', '20290,00$', '29960,00$', '92780,00$', '88530,00$',
       '48760,00$', '21410,00$', '39360,00$', '68420,00$', '39890,00$',
       '49300,00$', '27050,00$', '44480,00$', '23790,00$', '54870,00$',
       '28100,00$', '89380,00$', '99360,00$', '54540,00$', '54730,00$',
       '135030,00$', '135490,00$', '181720,00$', '27740,00$', '94390,00$',
       '52650,00$', '38150,00$', '23890,00$', '175840,00$', '48690,00$',
       '46490,00$', '104960,00$', '27680,00$', '34080,00$', '37550,00$',
       '21870,00$', '42580,00$', '53260,00$', '27820,00$', '176390,00$',
       '60620,00$', '62880,00$', '34240,00$', '41940,00$', '25320,00$',
       '56660,00$', '137260,00$', '41070,00$', '35970,00$', '41150,00$',
       '62720,00$', '25170,00$', '39040,00$', '92040,00$', '43730,00$',
       '20640,00$', '24300,00$', '48770,00$', '37600,00$', '29740,00$',
       '27660,00$', '33770,00$', '42130,00$', '65130,00$', '42840,00$',
       '22260,00$', '55610,00$', '53730,00$', '28970,00$', '54100,00$',
       '48500,00$', '39440,00$', '29600,00$', '189470,00$', '64650,00$',
       '26830,00$', '20140,00$', '34410,00$', '136640,00$', '50210,00$',
       '188440,00$', '106500,00$', '43170,00$', '20240,00$', '30580,00$',
       '39290,00$', '44250,00$', '23280,00$', '59400,00$', '26220,00$',
       '32120,00$', '29110,00$', '69310,00$', '21760,00$', '32300,00$',
       '186650,00$', '27890,00$', '64100,00$', '49410,00$', '39830,00$',
       '29040,00$', '21740,00$', '26570,00$', '109650,00$', '25430,00$',
       '194060,00$', '65380,00$', '22180,00$', '26540,00$', '119350,00$',
       '25460,00$', '38940,00$', '42620,00$', '105270,00$', '36810,00$',
       '34470,00$', '88470,00$', '20450,00$', '48510,00$', '81200,00$',
       '45770,00$', '54050,00$', '37080,00$', '137700,00$', '24500,00$',
       '43420,00$', '31490,00$', '53240,00$', '43820,00$', '25530,00$',
       '59330,00$', '44030,00$', '109340,00$', '20220,00$', '42560,00$',
       '28990,00$', '23770,00$', '24040,00$', '27990,00$', '28110,00$',
       '43770,00$', '42270,00$', '39170,00$', '49690,00$', '20420,00$',
       '22070,00$', '20700,00$', '27910,00$', '82240,00$', '26100,00$',
       '57310,00$', '25390,00$', '23760,00$', '190810,00$', '27430,00$',
       '45380,00$', '38670,00$', '20800,00$', '20960,00$', '46270,00$',
       '23020,00$', '50710,00$', '54670,00$', '23940,00$', '36290,00$',
       '93620,00$', '32290,00$', '164220,00$', '44000,00$', '20660,00$',
       '66510,00$', '48980,00$', '31800,00$', '112440,00$', '63920,00$',
       '33120,00$', '31170,00$', '152020,00$', '25800,00$', '21660,00$',
       '43740,00$', '55050,00$', '159720,00$', '23050,00$', '34770,00$',
       '39070,00$', '34450,00$', '27600,00$', '62940,00$', '21050,00$',
       '39020,00$', '20620,00$', '25870,00$', '55070,00$', '81030,00$',
       '39780,00$', '53990,00$', '44400,00$', '26600,00$', '33750,00$',
       '22690,00$', '47870,00$', '28090,00$', '25710,00$', '61420,00$',
       '24960,00$', '34190,00$', '25010,00$', '39200,00$', '65400,00$',
       '161840,00$', '171590,00$', '36170,00$', '26840,00$', '192370,00$',
       '44220,00$', '26780,00$', '51710,00$', '119160,00$', '93800,00$',
       '24680,00$', '41270,00$', '21480,00$', '38860,00$', '20900,00$',
       '20860,00$', '19510,00$', '30220,00$', '97240,00$', '33880,00$',
       '23220,00$', '45050,00$', '28350,00$', '65530,00$', '66730,00$',
       '135910,00$', '21770,00$', '195170,00$', '192020,00$',
       '100480,00$', '27230,00$', '66440,00$', '31610,00$', '12000,00$',
       '52380,00$', '99850,00$', '159920,00$', '23700,00$', '67810,00$',
       '28510,00$', '52580,00$', '22850,00$', '41970,00$', '45580,00$',
       '17020,00$', '25640,00$', '50700,00$', '37800,00$', '98240,00$',
       '18780,00$', '21270,00$', '20330,00$', '96020,00$', '166270,00$',
       '20830,00$', '10090,00$', '78610,00$', '26420,00$', '51210,00$',
       '26940,00$', '50940,00$', '22740,00$', '23140,00$', '23800,00$',
       '20080,00$', '105520,00$', '22590,00$', '24130,00$', '21210,00$',
       '24790,00$', '131940,00$', '26000,00$', '183030,00$', '47770,00$',
       '10520,00$', '24610,00$', '25960,00$', '47280,00$', '73510,00$',
       '47660,00$', '22580,00$', '28270,00$', '28530,00$', '22900,00$',
       '21070,00$', '22100,00$', '131910,00$', '182650,00$', '23720,00$',
       '28380,00$', '180610,00$', '16110,00$', '47680,00$', '12740,00$',
       '25610,00$', '15630,00$', '83760,00$', '48410,00$', '29720,00$',
       '68150,00$', '175670,00$', '15690,00$', '41870,00$', '33060,00$',
       '13930,00$', '108830,00$', '67350,00$', '97560,00$', '52940,00$',
       '24370,00$', '40710,00$', '29560,00$', '46480,00$', '28040,00$',
       '24390,00$', '29330,00$', '10910,00$', '51510,00$', '28630,00$',
       '11290,00$', '194310,00$', '21440,00$', '160150,00$', '43060,00$',
       '28210,00$', '35390,00$', '58130,00$', '26960,00$', '67550,00$',
       '58280,00$', '132120,00$', '27410,00$', '49600,00$', '42440,00$'],
      dtype=object)

In [78]:
df['roledepartament'].unique()

array([nan, ' ManaGER  -  Research & Development ',
       ' MANAger  -  Research & Development ',
       ' heaLtHcArE repResENtATiVe  -  Research & Development ',
       ' saLEs exEcutIVe  -  Sales ', ' Sales ExECuTIVe  -  Sales ',
       ' heALthCArE RePResEntaTIVe  -  Research & Development ',
       ' lABORAtOry tECHnIcIan  -  Research & Development ',
       ' ManufactUrINg DiReCTOr  -  Research & Development ',
       ' SaleS eXEcUtIVE  -  Sales ',
       ' HEaLthcaRe rEprEsEnTAtiVe  -  Research & Development ',
       ' rESeArCH sCientIST  -  Research & Development ',
       ' healTHCAre rePREseNtATiVE  -  Research & Development ',
       ' mANaGer  -  Research & Development ',
       ' HEAltHCaRe REPreseNTatIve  -  Research & Development ',
       ' SaLeS eXECUTivE  -  Sales ',
       ' reSeARCH SCIEnTiST  -  Research & Development ',
       ' ReSearch DiRecTOR  -  Research & Development ',
       ' resEaRCh SciEnTist  -  Research & Development ',
       ' hUmaN REsoUrCes  -  Human Resources ',
       ' manAgER  -  Research & Development ',
       ' SaLES eXeCUtIVE  -  Sales ',
       ' reSEarCH scIentISt  -  Research & Development ',
       ' ReSeARCh DiRECtor  -  Research & Development ',
       ' MaNAgeR  -  Sales ',
       ' RESEArCH sCIenTIst  -  Research & Development ',
       ' hUMAn reSoUrCES  -  Human Resources ',
       ' HUmAN rESOuRceS  -  Human Resources ',
       ' SaleS EXeCuTivE  -  Sales ',
       ' ReSeARch scIENTISt  -  Research & Development ',
       ' LaBoRaTorY TeChNicIAn  -  Research & Development ',
       ' ManUfaCTUriNg dIReCtor  -  Research & Development ',
       ' saLES ExECuTIVe  -  Sales ',
       ' RESEaRch SCIEntISt  -  Research & Development ',
       ' mAnUFaCtUrinG diReCtor  -  Research & Development ',
       ' maNUFAcTURING direCTOr  -  Research & Development ',
       ' labOraTORy techNicIan  -  Research & Development ',
       ' SAlEs ExeCUtive  -  Sales ',
       ' MANUFACturING DIRecToR  -  Research & Development ',
       ' Sales eXECuTIvE  -  Sales ',
       ' mANUfaCTuRiNG DiRECtOr  -  Research & Development ',
       ' ManUFACtURiNg DiRECTOr  -  Research & Development ',
       ' ResEARcH DiReCToR  -  Research & Development ',
       ' MANAgER  -  Research & Development ',
       ' labORATORY TechnIcIaN  -  Research & Development ',
       ' MaNUfacTurINg DiReCTor  -  Research & Development ',
       ' ReSEaRcH sciENTIST  -  Research & Development ',
       ' rESEARCh dIrEcTOr  -  Research & Development ',
       ' MANUfACTuRinG diRecTOR  -  Research & Development ',
       ' HeaLThCArE REpRESENTAtIVe  -  Research & Development ',
       ' LABOraTory TecHnIciaN  -  Research & Development ',
       ' sales rEprESEntAtIvE  -  Sales ',
       ' mANuFacTurinG DirECtoR  -  Research & Development ',
       ' lABorATOrY TeChnICIan  -  Research & Development ',
       ' RESEarCh SCIEnTiST  -  Research & Development ',
       ' SALes exEcuTIVe  -  Sales ',
       ' REseARCH DirectOr  -  Research & Development ',
       ' sAlES EXEcUtIVe  -  Sales ',
       ' lABoraToRY teCHnIcIaN  -  Research & Development ',
       ' LaBorATORy tEChnICiaN  -  Research & Development ',
       ' sales ExecutIvE  -  Sales ', ' sAles exECUtiVe  -  Sales ',
       ' SALEs eXecuTiVE  -  Sales ', ' SaleS executIVE  -  Sales ',
       ' rEsEArCH sCIeNTIST  -  Research & Development ',
       ' reSEArch SCIEntIsT  -  Research & Development ',
       ' rESeArCh DIrEctor  -  Research & Development ',
       ' saLES ExECUtiVe  -  Sales ',
       ' LaboRATory tEchNICIAn  -  Research & Development ',
       ' SAlEs exECUtIVe  -  Sales ', ' salEs eXECuTivE  -  Sales ',
       ' ReseaRch scIenTisT  -  Research & Development ',
       ' LaBoraTORY teCHNiCIaN  -  Research & Development ',
       ' sALEs ExeCuTive  -  Sales ',
       ' heALtHCARE rePResENtAtivE  -  Research & Development ',
       ' ManAgEr  -  Research & Development ',
       ' laboRAtORy TecHnICiAN  -  Research & Development ',
       ' ReSeARCH diRECtoR  -  Research & Development ',
       ' LAborAtOry TEchniCIAn  -  Research & Development ',
       ' SaLeS eXECutiVE  -  Sales ', ' SalEs eXECuTive  -  Sales ',
       ' rESeaRCH DIReCToR  -  Research & Development ',
       ' mANAGeR  -  Human Resources ', ' saLeS exECUtive  -  Sales ',
       ' maNuFAcTURInG DIReCtoR  -  Research & Development ',
       ' LABORaTorY TEChNIcIAN  -  Research & Development ',
       ' hEalTHcARe RePrEseNTATive  -  Research & Development ',
       ' mANuFActuring DireCtOR  -  Research & Development ',
       ' MaNagEr  -  Research & Development ',
       ' SaLeS exeCuTIVe  -  Sales ',
       ' lAboRaTory tECHNIciAN  -  Research & Development ',
       ' saLes eXECUTIVe  -  Sales ', ' saLes EXEcuTiVe  -  Sales ',
       ' mAnaGeR  -  Research & Development ',
       ' HEALThCaRe rePResEnTaTivE  -  Research & Development ',
       ' mAnAgEr  -  Research & Development ',
       ' MaNageR  -  Research & Development ',
       ' HeAlThCarE rEpreSentatiVe  -  Research & Development ',
       ' HUMAN ResoURCeS  -  Human Resources ',
       ' huMAn ResOurces  -  Human Resources ',
       ' mANUfacTURiNG dIRectOR  -  Research & Development ',
       ' saLES eXEcUTiVE  -  Sales ',
       ' labORaTORY teChNIcIaN  -  Research & Development ',
       ' saLes eXeCUTivE  -  Sales ', ' Sales exECutIVE  -  Sales ',
       ' saleS eXEcuTIvE  -  Sales ', ' SALes ExeCUtive  -  Sales ',
       ' reSearCH SCieNtIst  -  Research & Development ',
       ' HEALThcaRe RePresENtaTiVE  -  Research & Development ',
       ' rEsEARch sCientIST  -  Research & Development ',
       ' HealthcARE RePreSENtAtiVe  -  Research & Development ',
       ' ResEArch ScieNTiST  -  Research & Development ',
       ' labORaTORy TecHniciAN  -  Research & Development ',
       ' SalEs exECUTIvE  -  Sales ',
       ' LabOrATory TEChNICiaN  -  Research & Development ',
       ' reSeArcH scieNtist  -  Research & Development ',
       ' maNuFAcTUring DIrecToR  -  Research & Development ',
       ' ResEARCh DIRECtoR  -  Research & Development ',
       ' SaLes exECutIVe  -  Sales ', ' SAleS eXecuTIVe  -  Sales ',
       ' manAGER  -  Sales ',
       ' LaBOrATORy teCHnIciaN  -  Research & Development ',
       ' SAlES ExecuTIVe  -  Sales ', ' salES exEcUtiVE  -  Sales ',
       ' SAlEs ExECUTIVe  -  Sales ',
       ' HEaLTHcaRE rePReseNtaTIvE  -  Research & Development ',
       ' sAles eXEcUtIve  -  Sales ',
       ' laBoraTorY tEChnICiaN  -  Research & Development ',
       ' MANufacTURIng diREcTOr  -  Research & Development ',
       ' REsearch scIENtist  -  Research & Development ',
       ' heaLtHcARe RePReSENtaTIve  -  Research & Development ',
       ' lAbOrAtorY techNiCiaN  -  Research & Development ',
       ' laboRaTOrY TEchniCIaN  -  Research & Development ',
       ' SAles ExECutIvE  -  Sales ',
       ' HeALtHCarE represEntAtIVe  -  Research & Development ',
       ' HEalThCaRe rEpReSENtatIVe  -  Research & Development ',
       ' HEalTHCare REPrEsEntATiVE  -  Research & Development ',
       ' LaBoRaToRY TEcHnIcian  -  Research & Development ',
       ' SAlES ExecutIve  -  Sales ',
       ' LaBOrAtory TECHNIciAN  -  Research & Development ',
       ' ReSeArch scIenTIsT  -  Research & Development ',
       ' SaLEs EXECutIVe  -  Sales ',
       ' rESEARch DiRector  -  Research & Development ',
       ' HEaltHcare rEPrEsEnTatIVe  -  Research & Development ',
       ' lABORatORY TeChNiCiAN  -  Research & Development ',
       ' LaBOratory TeChnICiAn  -  Research & Development ',
       ' maNAGer  -  Sales ', ' hUMAn rEsOuRCES  -  Human Resources ',
       ' sales ExeCUTiVE  -  Sales ', ' saLEs exeCUtiVe  -  Sales ',
       ' laBorAtORy TECHnicIaN  -  Research & Development ',
       ' ReSeaRch SCIEnTiSt  -  Research & Development ',
       ' rEsEArcH scIenTIst  -  Research & Development ',
       ' RESeArch dIREcToR  -  Research & Development ',
       ' saLes ExECutIVE  -  Sales ',
       ' REseARCh SCIenTIst  -  Research & Development ',
       ' sALEs exECuTiVe  -  Sales ',
       ' rEseArCh SCieNtiST  -  Research & Development ',
       ' lABoRAtoRY TecHnIcian  -  Research & Development ',
       ' researcH SciEntIST  -  Research & Development ',
       ' REseARCH ScIeNTIST  -  Research & Development ',
       ' sAles ExecUtive  -  Sales ',
       ' mAnUfaCTuRing DiRecTor  -  Research & Development ',
       ' SaLes exEcUtIvE  -  Sales ',
       ' ReseArCH scIenTIst  -  Research & Development ',
       ' ReseArch sCienTiST  -  Research & Development ',
       ' ReSEarcH SCiEnTISt  -  Research & Development ',
       ' laBORATORY tECHNiciAN  -  Research & Development ',
       ' rESeArCH sCIeNtISt  -  Research & Development ',
       ' humAN resoURCEs  -  Human Resources ',
       ' REseARCh scieNTIsT  -  Research & Development ',
       ' SaLeS REPRESENtATIvE  -  Sales ',
       ' ResEArch SciEntiST  -  Research & Development ',
       ' ReSEaRCh SCIEnTist  -  Research & Development ',
       ' hUmAn REsOurCES  -  Human Resources ',
       ' sALeS EXecuTIVe  -  Sales ',
       ' ReseArCh SciENTIsT  -  Research & Development ',
       ' sALes rEprESentAtIvE  -  Sales ',
       ' humaN reSOUrcEs  -  Human Resources ',
       ' lAboRatOrY TechNiCiAn  -  Research & Development ',
       ' HeAlthcaRE rEPrEseNTaTIVE  -  Research & Development ',
       ' sALeS eXecuTIvE  -  Sales ', ' SALeS RepREsEnTatiVe  -  Sales ',
       ' SaLes rePrESENTaTivE  -  Sales ',
       ' rESEaRch sCientISt  -  Research & Development ',
       ' laBORatoRy TEcHnician  -  Research & Development ',
       ' ReSeaRch SCIentiST  -  Research & Development ',
       ' RESEarch ScieNtIst  -  Research & Development ',
       ' sALeS RePresenTAtivE  -  Sales ',
       ' LABORAToRy tEchNICiAn  -  Research & Development ',
       ' ResEArch sCIEnTiST  -  Research & Development ',
       ' ReSEArcH sCIeNtist  -  Research & Development ',
       ' LaBoRaTory techNICIAN  -  Research & Development ',
       ' hEaLThcARE rEpresEntATiVE  -  Research & Development ',
       ' mANufActuRIng DirECTOR  -  Research & Development ',
       ' laBOraTOrY TecHNIcIan  -  Research & Development ',
       ' sALES ReprEsentatiVE  -  Sales ',
       ' laBoRatoRy TEChNICiAN  -  Research & Development ',
       ' ReSEarch scIeNTIsT  -  Research & Development ',
       ' researCh SCientIsT  -  Research & Development ',
       ' ReseaRch scIENTisT  -  Research & Development ',
       ' lAboRaToRY teChNICIan  -  Research & Development ',
       ' rEsEaRCh diReCtOR  -  Research & Development ',
       ' labORAtoRy tEcHNICIAN  -  Research & Development ',
       ' SAlES exeCutive  -  Sales ',
       ' hEalthCaRe reprEseNTaTiVe  -  Research & Development ',
       ' ManufacTURInG DIRECtOR  -  Research & Development ',
       ' sAles exEcUtIve  -  Sales ',
       ' reseARCh SCieNTisT  -  Research & Development ',
       ' reSEarcH scIENtISt  -  Research & Development ',
       ' reseArCH scIentISt  -  Research & Development ',
       ' MANuFaCturiNG dIRECTOR  -  Research & Development ',
       ' HuMan resoUrCes  -  Human Resources ',
       ' huMAn Resources  -  Human Resources ',
       ' Sales EXEcUTiVe  -  Sales ',
       ' reSEaRCH scIenTisT  -  Research & Development ',
       ' sales rEpRESEnTatIve  -  Sales ',
       ' reseaRch DIrecTOr  -  Research & Development ',
       ' sALeS eXECutivE  -  Sales ',
       ' Human REsouRCeS  -  Human Resources ',
       ' rESeArcH sCientIST  -  Research & Development ',
       ' SAlES RepreSENtATiVe  -  Sales ', ' SAles execUTIve  -  Sales ',
       ' RESEArch SCIEnTISt  -  Research & Development ',
       ' labOrATOry TEchnIcIaN  -  Research & Development ',
       ' sALes ExEcUTIVe  -  Sales ',
       ' REsEARch sCIenTIsT  -  Research & Development ',
       ' RESeARch ScIeNtisT  -  Research & Development ',
       ' rEseARCH ScIeNtIST  -  Research & Development ',
       ' ManAGEr  -  Research & Development ',
       ' LaBoratory TECHnICIAn  -  Research & Development ',
       ' saLES exEcutivE  -  Sales ',
       ' LABorATory TecHnIcIaN  -  Research & Development ',
       ' HumAN REsourceS  -  Human Resources ',
       ' reseaRCh SCIentIst  -  Research & Development ',
       ' LaBOrAToRy teChNiciAn  -  Research & Development ',
       ' LaborAtorY Technician  -  Research & Development ',
       ' rEseaRCH sCIeNtiSt  -  Research & Development ',
       ' LABOrATOrY TEchnIcIAn  -  Research & Development ',
       ' ReSeARCh DireCtOr  -  Research & Development ',
       ' LaBORatORy tEchNiCian  -  Research & Development ',
       ' laBorATOrY TeChNIcIAn  -  Research & Development ',
       ' sALEs RePREsentaTive  -  Sales ', ' mAnageR  -  Sales ',
       ' rESEArcH SCiEntIst  -  Research & Development ',
       ' heAlThcaRe REprESeNTATive  -  Research & Development ',
       ' LABoratOry TeCHnIcIan  -  Research & Development ',
       ' hEAlthCarE rEpresenTATiVe  -  Research & Development ',
       ' HealTHcaRE rEPreSEntATive  -  Research & Development ',
       ' MaNUfActuRInG diREctOr  -  Research & Development ',
       ' saLes REPrEsentAtiVE  -  Sales ',
       ' LABorAtORy TEchnIciAn  -  Research & Development ',
       ' rEsEARcH ScieNTisT  -  Research & Development ',
       ' SalEs eXecuTive  -  Sales ', ' SaLeS EXEcUTiVe  -  Sales ',
       ' MaNufacTuRINg DirEcTor  -  Research & Development ',
       ' resEaRcH scIENTiSt  -  Research & Development ',
       ' SALes eXECuTIvE  -  Sales ',
       ' LabORatORy tEChnIcIAn  -  Research & Development ',
       ' LaBorAtOrY teCHNICIAn  -  Research & Development ',
       ' saLEs RePREsentAtiVE  -  Sales ',
       ' laBOrATORY TechNiCiAn  -  Research & Development ',
       ' sALes exECutIVe  -  Sales ',
       ' LabOraToRy technICiAN  -  Research & Development ',
       ' lAborAtORY TeCHNIciAN  -  Research & Development ',
       ' SAlES rePrESentaTIVe  -  Sales ',
       ' mANager  -  Research & Development ',
       ' HEAlThcARe rEPREseNtATIVe  -  Research & Development ',
       ' REsEArCH dIrECTOr  -  Research & Development ',
       ' rESeaRch SCIeNTIST  -  Research & Development ',
       ' SALEs REpRESentatIve  -  Sales ', ' SalES eXecUTiVE  -  Sales ',
       ' SaLes REPREseNtATive  -  Sales ',
       ' ReSeArch sCIEnTiSt  -  Research & Development ',
       ' sales REPReSeNtAtIVe  -  Sales ', ' sAles execUtIve  -  Sales ',
       ' LABOrATORy tEChNiCIaN  -  Research & Development ',
       ' hEalthCarE REPResEnTaTive  -  Research & Development ',
       ' mANagER  -  Research & Development ',
       ' sales repResENTaTiVE  -  Sales ',
       ' laboRAToRY tEChniCIAN  -  Research & Development ',
       ' resEaRcH sCIeNTisT  -  Research & Development ',
       ' maNuFAcTurING diREctOr  -  Research & Development ',
       ' mAnAger  -  Research & Development ',
       ' SALes eXEcUtiVe  -  Sales ',
       ' reSearCh SCiEnTist  -  Research & Development ',
       ' rESEARch SciENtiSt  -  Research & Development ',
       ' hUman ResourCeS  -  Human Resources ',
       ' SALES exeCUtIve  -  Sales ',
       ' ReseaRcH sCientiSt  -  Research & Development ',
       ' LAbORaTory tEcHnIciAN  -  Research & Development ',
       ' lABOraTOrY tecHniciaN  -  Research & Development ',
       ' sALeS exEcUtiVe  -  Sales ', ' salEs eXEcuTIvE  -  Sales ',
       ' SAleS ExEcuTiVE  -  Sales ', ' SaLeS exEcUTiVE  -  Sales ',
       ' ReSEArch scieNTiST  -  Research & Development ',
       ' reSEArCh sCieNtiST  -  Research & Development ',
       ' ReseaRCh dIRecTor  -  Research & Development ',
       ' SaLEs ExECUtiVE  -  Sales ',
       ' LAbORAToRy tEcHNICian  -  Research & Development ',
       ' sAleS EXECUtIvE  -  Sales '], dtype=object)

In [79]:
df['numberchildren'].unique()

array([nan])

In [80]:
df['remotework'].unique()

array(['Yes', '1', 'False', '0', 'True'], dtype=object)

In [81]:
df['remotework'].value_counts(dropna=False)

remotework
1        375
True     362
False    318
0        318
Yes      305
Name: count, dtype: int64

In [82]:
df['maritalstatus'].value_counts(dropna=False)

maritalstatus
NaN         675
Married     419
Single      343
Divorced    194
Marreid      36
divorced     11
Name: count, dtype: int64

In [83]:
df['maritalstatus'].unique()

array([nan, 'Married', 'Divorced', 'Single', 'divorced', 'Marreid'],
      dtype=object)

In [84]:
df['monthlyincome'].value_counts(dropna=False)

monthlyincome
NaN          489
2342,59$     228
4492,84$     227
8339,32$     105
12783,92$     42
            ...
3018,33$       1
5330,83$       1
4994,17$       1
3806,67$       1
3705,83$       1
Name: count, Length: 494, dtype: int64

In [85]:
df['monthlyincome'].unique()

array(['16280,83$', nan, '14307,50$', '12783,92$', '14311,67$',
       '8339,32$', '13829,17$', '15943,72$', '16644,17$', '15034,17$',
       '16038,33$', '4492,84$', '8956,67$', '5167,50$', '3334,17$',
       '8705,83$', '2675,00$', '8555,00$', '8729,17$', '3934,17$',
       '3845,83$', '14132,50$', '8588,33$', '4505,00$', '4918,33$',
       '4928,33$', '5538,33$', '11100,00$', '5572,50$', '11560,00$',
       '15870,83$', '13345,83$', '8010,83$', '3588,33$', '14205,00$',
       '4222,50$', '3076,67$', '2342,59$', '4789,17$', '8685,00$',
       '5289,17$', '1956,67$', '10408,33$', '6683,33$', '7452,50$',
       '16060,00$', '4647,50$', '2242,50$', '6169,17$', '7352,50$',
       '2982,50$', '14815,83$', '15177,50$', '15991,67$', '15989,17$',
       '8340,00$', '6656,67$', '5902,50$', '3935,83$', '2839,17$',
       '2440,83$', '10025,83$', '12855,83$', '5135,00$', '4271,67$',
       '8015,83$', '4175,00$', '15860,83$', '8666,67$', '2327,50$',
       '4728,33$', '7010,00$', '2790,00$', '4424,17$', '6378,33$',
       '10673,33$', '5488,33$', '2099,17$', '10933,33$', '2609,17$',
       '5561,67$', '14884,17$', '6205,00$', '11464,17$', '13831,67$',
       '2557,50$', '7700,83$', '5393,33$', '6934,17$', '7148,33$',
       '3497,50$', '8240,00$', '4730,83$', '7938,33$', '5687,50$',
       '3686,67$', '4534,17$', '5061,67$', '5143,33$', '4670,83$',
       '3599,17$', '2970,00$', '5217,50$', '5670,00$', '16196,67$',
       '4856,67$', '3901,67$', '1765,83$', '4978,33$', '11010,00$',
       '3375,83$', '4004,17$', '2284,17$', '7861,67$', '4496,67$',
       '9299,17$', '4133,33$', '7327,50$', '1846,67$', '9760,83$',
       '4420,00$', '9252,50$', '5526,67$', '6322,50$', '3612,50$',
       '4983,33$', '3536,67$', '4356,67$', '2250,00$', '1971,67$',
       '1940,83$', '8604,17$', '9037,50$', '5320,83$', '3050,00$',
       '7283,33$', '11249,17$', '2909,17$', '4350,00$', '8543,33$',
       '16450,00$', '5174,17$', '3778,33$', '7083,33$', '3865,83$',
       '4469,17$', '3400,83$', '8994,17$', '9042,50$', '3654,17$',
       '3388,33$', '4338,33$', '2212,50$', '2141,67$', '3751,67$',
       '4140,00$', '4289,17$', '2265,00$', '2949,17$', '4556,67$',
       '4844,17$', '8055,83$', '4729,17$', '6095,00$', '11308,33$',
       '8325,83$', '8540,00$', '9115,00$', '2160,83$', '9898,33$',
       '6745,83$', '14046,67$', '3780,83$', '3345,00$', '10618,33$',
       '8735,00$', '3540,83$', '5457,50$', '12009,17$', '6864,17$',
       '2675,83$', '13920,00$', '3806,67$', '4994,17$', '5415,83$',
       '5330,83$', '3018,33$', '5228,33$', '4573,33$', '2095,00$',
       '2663,33$', '2850,00$', '3405,83$', '3500,00$', '4171,67$',
       '5418,33$', '5290,83$', '3796,67$', '3525,00$', '8967,50$',
       '4336,67$', '14499,17$', '4295,83$', '15657,50$', '4069,17$',
       '2496,67$', '7731,67$', '3468,33$', '7377,50$', '6463,33$',
       '3324,17$', '3085,00$', '2254,17$', '3706,67$', '7448,33$',
       '8280,00$', '15616,67$', '4560,83$', '11252,50$', '11290,83$',
       '2311,67$', '7865,83$', '4387,50$', '3179,17$', '1990,83$',
       '3333,33$', '14653,33$', '4717,50$', '4057,50$', '3874,17$',
       '8746,67$', '2840,00$', '3548,33$', '4570,83$', '2318,33$',
       '5240,00$', '3495,00$', '2110,00$', '11438,33$', '3422,50$',
       '2997,50$', '3429,17$', '5226,67$', '7670,00$', '3644,17$',
       '1720,00$', '2025,00$', '4064,17$', '3133,33$', '1677,50$',
       '2305,00$', '5427,50$', '1855,00$', '4634,17$', '1786,67$',
       '4477,50$', '2414,17$', '4434,17$', '1667,50$', '3670,00$',
       '3286,67$', '15789,17$', '1678,33$', '11386,67$', '4184,17$',
       '3949,17$', '3597,50$', '1686,67$', '3274,17$', '3687,50$',
       '1940,00$', '2214,17$', '2185,00$', '2676,67$', '2425,83$',
       '1813,33$', '15554,17$', '5341,67$', '4117,50$', '3319,17$',
       '2420,00$', '2246,67$', '5629,17$', '9137,50$', '16171,67$',
       '5448,33$', '1881,67$', '2211,67$', '9945,83$', '3245,00$',
       '2000,00$', '2872,50$', '16260,83$', '2215,83$', '7372,50$',
       '4042,50$', '3814,17$', '11475,00$', '1914,17$', '2041,67$',
       '3618,33$', '2143,33$', '5416,67$', '2624,17$', '4436,67$',
       '3651,67$', '2127,50$', '4944,17$', '9111,67$', '1685,00$',
       '3546,67$', '2983,33$', '2415,83$', '4635,00$', '1980,83$',
       '2332,50$', '2876,67$', '2342,50$', '3647,50$', '3533,33$',
       '3522,50$', '3264,17$', '1701,67$', '2350,83$', '8297,50$',
       '1839,17$', '4775,83$', '3781,67$', '1733,33$', '3253,33$',
       '3855,83$', '1918,33$', '8830,00$', '4555,83$', '4807,50$',
       '1995,00$', '2690,83$', '13685,00$', '4705,83$', '1721,67$',
       '4571,67$', '2635,00$', '5542,50$', '2424,17$', '4081,67$',
       '2650,00$', '3390,83$', '5326,67$', '4045,83$', '2760,00$',
       '2150,00$', '1805,00$', '3645,00$', '4587,50$', '2155,83$',
       '13310,00$', '2860,83$', '2897,50$', '3255,83$', '2870,83$',
       '2300,00$', '5245,00$', '10930,00$', '2992,50$', '4504,17$',
       '1754,17$', '3251,67$', '2218,33$', '4589,17$', '6752,50$',
       '3315,00$', '4499,17$', '8706,67$', '3700,00$', '2216,67$',
       '2812,50$', '1890,83$', '2340,83$', '9045,00$', '2142,50$',
       '2849,17$', '2084,17$', '2138,33$', '3266,67$', '11636,67$',
       '5450,00$', '1870,00$', '13486,67$', '3527,50$', '12345,00$',
       '1931,67$', '16030,83$', '2126,67$', '2231,67$', '4898,33$',
       '3439,17$', '1790,00$', '5555,83$', '8103,33$', '2823,33$',
       '2531,67$', '1935,00$', '2438,33$', '3754,17$', '5560,83$',
       '11325,83$', '16264,17$', '16001,67$', '8373,33$', '2269,17$',
       '2634,17$', '1183,33$', '1000,00$', '4365,00$', '1975,00$',
       '5650,83$', '5544,17$', '2063,33$', '1904,17$', '2873,33$',
       '3798,33$', '1418,33$', '2136,67$', '3150,00$', '1950,00$',
       '1772,50$', '1694,17$', '8001,67$', '13855,83$', '1735,83$',
       '84083$', '6550,83$', '2201,67$', '4267,50$', '2245,00$',
       '4245,00$', '1928,33$', '1673,33$', '8793,33$', '1882,50$',
       '3469,17$', '15252,50$', '1983,33$', '3980,83$', '87667$',
       '6125,83$', '3971,67$', '2377,50$', '1755,83$', '1841,67$',
       '10992,50$', '15220,83$', '93167$', '2365,00$', '15050,83$',
       '1342,50$', '3973,33$', '2003,33$', '5323,33$', '4034,17$',
       '1728,33$', '2476,67$', '5679,17$', '2241,67$', '3489,17$',
       '9069,17$', '2385,00$', '5612,50$', '4411,67$', '2030,83$',
       '2463,33$', '3873,33$', '2336,67$', '2032,50$', '2380,00$',
       '2444,17$', '2385,83$', '2381,67$', '94083$', '16192,50$',
       '1923,33$', '2115,83$', '1980,00$', '4295,00$', '1811,67$',
       '2119,17$', '1848,33$', '2045,83$', '4380,83$', '2528,33$',
       '6993,33$', '15990,83$', '3578,33$', '3705,83$'], dtype=object)

In [86]:
df['monthlyrate'].value_counts(dropna=False)

monthlyrate
11681,39$    326
6090,75$     308
21682,23$    150
33238,20$     55
41453,67$     38
            ...
6721,00$       1
9871,33$       1
9165,00$       1
10527,83$      1
42100,50$      1
Name: count, Length: 673, dtype: int64

In [87]:
df['monthlyrate'].unique()

array(['42330,17$', '43331,17$', '41669,33$', '37199,50$', '33238,20$',
       '37210,33$', '21682,23$', '11681,39$', '35955,83$', '41453,67$',
       '43274,83$', '29037,67$', '28613,00$', '42347,50$', '39088,83$',
       '41699,67$', '23287,33$', '36296,00$', '13435,50$', '42997,50$',
       '8668,83$', '22635,17$', '34805,33$', '6955,00$', '22243,00$',
       '22695,83$', '13351,00$', '10228,83$', '6090,75$', '9999,17$',
       '36744,50$', '22329,67$', '11713,00$', '12787,67$', '23519,17$',
       '12813,67$', '14399,67$', '30274,83$', '28860,00$', '14488,50$',
       '10259,17$', '30056,00$', '41264,17$', '34699,17$', '20828,17$',
       '24938,33$', '9329,67$', '36933,00$', '10978,50$', '7999,33$',
       '43001,83$', '5000,67$', '12451,83$', '22581,00$', '13751,83$',
       '5087,33$', '6656,00$', '27061,67$', '17376,67$', '36980,67$',
       '19376,50$', '41756,00$', '12083,50$', '5830,50$', '16039,83$',
       '19116,50$', '7754,50$', '38521,17$', '39461,50$', '29416,83$',
       '41578,33$', '37099,83$', '41571,83$', '21684,00$', '17307,33$',
       '15346,50$', '10233,17$', '7381,83$', '6346,17$', '26067,17$',
       '33425,17$', '11106,33$', '20841,17$', '10855,00$', '41238,17$',
       '22533,33$', '6051,50$', '12293,67$', '41593,50$', '18226,00$',
       '7254,00$', '11502,83$', '16583,67$', '27750,67$', '14269,67$',
       '5457,83$', '37047,83$', '28426,67$', '6783,83$', '9628,67$',
       '14460,33$', '21346,00$', '38698,83$', '16133,00$', '29806,83$',
       '35962,33$', '9284,17$', '21935,33$', '21047,00$', '21502,00$',
       '24364,17$', '6649,50$', '20022,17$', '14022,67$', '6619,17$',
       '18028,83$', '6809,83$', '18585,67$', '9093,50$', '21424,00$',
       '28905,50$', '12300,17$', '6302,83$', '20639,67$', '14787,50$',
       '9585,33$', '11788,83$', '13160,33$', '13316,33$', '13372,67$',
       '10114,00$', '12144,17$', '9357,83$', '7722,00$', '13565,50$',
       '14742,00$', '42111,33$', '12627,33$', '5319,17$', '10952,50$',
       '10144,33$', '11390,17$', '4591,17$', '12943,67$', '6573,67$',
       '28626,00$', '18182,67$', '8777,17$', '10410,83$', '5938,83$',
       '11563,50$', '20440,33$', '11691,33$', '24177,83$', '10746,67$',
       '19051,50$', '41576,17$', '4801,33$', '25378,17$', '11492,00$',
       '24056,50$', '14369,33$', '16438,50$', '9392,50$', '12956,67$',
       '9195,33$', '11327,33$', '5850,00$', '5126,33$', '5046,17$',
       '9303,67$', '14570,83$', '22370,83$', '9635,17$', '23497,50$',
       '11856,00$', '13834,17$', '16304,17$', '7930,00$', '18936,67$',
       '29247,83$', '7563,83$', '11310,00$', '22212,67$', '42770,00$',
       '13452,83$', '15370,33$', '9823,67$', '18416,67$', '10051,17$',
       '11619,83$', '8842,17$', '7752,33$', '37544,00$', '23384,83$',
       '23510,50$', '22676,33$', '5117,67$', '13951,17$', '12499,50$',
       '9500,83$', '8809,67$', '11279,67$', '5752,50$', '5568,33$',
       '9754,33$', '10764,00$', '11151,83$', '5889,00$', '7667,83$',
       '11847,33$', '12594,83$', '20945,17$', '11167,00$', '12295,83$',
       '15847,00$', '11045,67$', '29401,67$', '14542,67$', '21647,17$',
       '22204,00$', '23699,00$', '5618,17$', '25735,67$', '17539,17$',
       '36521,33$', '9830,17$', '38835,33$', '8697,00$', '27607,67$',
       '7314,67$', '22711,00$', '9206,17$', '14189,50$', '31223,83$',
       '42436,33$', '17846,83$', '6957,17$', '36192,00$', '10343,67$',
       '9897,33$', '12984,83$', '14081,17$', '7479,33$', '13860,17$',
       '5904,17$', '7847,67$', '13390,00$', '13593,67$', '9492,17$',
       '5544,50$', '11890,67$', '5447,00$', '6924,67$', '7410,00$',
       '8855,17$', '11630,67$', '28028,00$', '9145,50$', '10753,17$',
       '9100,00$', '10846,33$', '16551,17$', '14087,67$', '29304,17$',
       '13756,17$', '13823,33$', '6721,00$', '9871,33$', '9165,00$',
       '10527,83$', '13697,67$', '23315,50$', '6441,50$', '11275,33$',
       '37697,83$', '36584,17$', '9366,50$', '11169,17$', '6361,33$',
       '40709,50$', '10579,83$', '4396,17$', '6491,33$', '20102,33$',
       '9017,67$', '19181,50$', '10564,67$', '4638,83$', '16804,67$',
       '8528,00$', '14824,33$', '8642,83$', '10681,67$', '8021,00$',
       '5860,83$', '9637,33$', '5154,50$', '11888,50$', '6088,33$',
       '19365,67$', '21528,00$', '11817,00$', '40603,33$', '11858,17$',
       '29256,50$', '29356,17$', '39372,67$', '6010,33$', '20451,17$',
       '11407,50$', '8265,83$', '5176,17$', '8666,67$', '38098,67$',
       '12265,50$', '10549,50$', '10072,83$', '22741,33$', '5997,33$',
       '7384,00$', '8135,83$', '4738,50$', '9225,67$', '11539,67$',
       '11884,17$', '6027,67$', '38217,83$', '13134,33$', '13624,00$',
       '7418,67$', '9087,00$', '5486,00$', '12276,33$', '29739,67$',
       '8898,50$', '7793,50$', '8915,83$', '13589,33$', '5453,50$',
       '8458,67$', '19942,00$', '9474,83$', '4472,00$', '5265,00$',
       '10566,83$', '8146,67$', '4361,50$', '6443,67$', '5993,00$',
       '7316,83$', '9128,17$', '14111,50$', '9282,00$', '4823,00$',
       '12048,83$', '4645,33$', '11641,50$', '6276,83$', '11528,83$',
       '11721,67$', '10508,33$', '4335,50$', '9542,00$', '8545,33$',
       '6413,33$', '41051,83$', '14007,50$', '5813,17$', '4363,67$',
       '7455,50$', '29605,33$', '10878,83$', '40828,67$', '10267,83$',
       '23075,00$', '9353,50$', '4385,33$', '6625,67$', '8512,83$',
       '9587,50$', '5044,00$', '5756,83$', '12870,00$', '5681,00$',
       '6959,33$', '6307,17$', '15017,17$', '4714,67$', '6998,33$',
       '40440,83$', '6042,83$', '13888,33$', '10705,50$', '8629,83$',
       '6292,00$', '5841,33$', '4710,33$', '14635,83$', '23757,50$',
       '5509,83$', '42046,33$', '14165,67$', '4892,33$', '4805,67$',
       '5750,33$', '25859,17$', '5516,33$', '8437,00$', '9234,33$',
       '22808,50$', '5200,00$', '7975,50$', '7468,50$', '42278,17$',
       '5761,17$', '19168,50$', '4430,83$', '10510,50$', '17593,33$',
       '9916,83$', '11710,83$', '8034,00$', '29835,00$', '4976,83$',
       '5308,33$', '9407,67$', '5572,67$', '14083,33$', '6822,83$',
       '11535,33$', '9494,33$', '5531,50$', '12854,83$', '9539,83$',
       '23690,33$', '4381,00$', '9221,33$', '7756,67$', '6281,17$',
       '12051,00$', '5150,17$', '5208,67$', '6064,50$', '6090,50$',
       '9483,50$', '9186,67$', '9158,50$', '8486,83$', '10766,17$',
       '4424,33$', '6112,17$', '21573,50$', '4781,83$', '4485,00$',
       '6047,17$', '17818,67$', '5655,00$', '12417,17$', '5501,17$',
       '5148,00$', '41342,17$', '5943,17$', '9832,33$', '8378,50$',
       '4506,67$', '4541,33$', '10025,17$', '4987,67$', '10987,17$',
       '22958,00$', '11845,17$', '5187,00$', '7862,83$', '20284,33$',
       '6996,17$', '35581,00$', '12235,17$', '9533,33$', '4476,33$',
       '11886,33$', '6851,00$', '14410,50$', '10612,33$', '6890,00$',
       '24362,00$', '8816,17$', '13849,33$', '10519,17$', '7176,00$',
       '6753,50$', '32937,67$', '5590,00$', '4693,00$', '9477,00$',
       '11927,50$', '5605,17$', '34606,00$', '4994,17$', '7438,17$',
       '7533,50$', '8465,17$', '7464,17$', '5980,00$', '13637,00$',
       '28418,00$', '7780,50$', '4560,83$', '8454,33$', '5767,67$',
       '4467,67$', '11931,83$', '17556,50$', '8619,00$', '11697,83$',
       '22637,33$', '9620,00$', '5763,33$', '7312,50$', '4916,17$',
       '10371,83$', '6086,17$', '23517,00$', '5570,50$', '13307,67$',
       '5408,00$', '7407,83$', '5418,83$', '5559,67$', '8493,33$',
       '30255,33$', '14170,00$', '4862,00$', '35065,33$', '9171,50$',
       '32097,00$', '37177,83$', '5022,33$', '7836,83$', '5815,33$',
       '41680,17$', '9581,00$', '5529,33$', '5802,33$', '11203,83$',
       '25818,00$', '20323,33$', '12735,67$', '5347,33$', '8941,83$',
       '4654,00$', '8419,67$', '14445,17$', '4528,33$', '4519,67$',
       '4227,17$', '6547,67$', '21068,67$', '7340,67$', '6582,33$',
       '5031,00$', '6339,67$', '9760,83$', '6142,50$', '14198,17$',
       '14458,17$', '29447,17$', '4716,83$', '42286,83$', '41604,33$',
       '21770,67$', '5899,83$', '14395,33$', '6848,83$', '3076,67$',
       '2600,00$', '11349,00$', '21634,17$', '34649,33$', '5135,00$',
       '14692,17$', '14414,83$', '6177,17$', '11392,33$', '5364,67$',
       '4950,83$', '7470,67$', '9875,67$', '3687,67$', '5555,33$',
       '10985,00$', '8190,00$', '21285,33$', '4069,00$', '5070,00$',
       '4608,50$', '4404,83$', '20804,33$', '36025,17$', '4513,17$',
       '2186,17$', '17032,17$', '5724,33$', '11095,50$', '5837,00$',
       '11037,00$', '4927,00$', '5013,67$', '5156,67$', '4350,67$',
       '22862,67$', '4894,50$', '5228,17$', '4595,50$', '5371,17$',
       '28587,00$', '9019,83$', '5633,33$', '39656,50$', '10350,17$',
       '2279,33$', '5332,17$', '5624,67$', '10244,00$', '15927,17$',
       '10326,33$', '6125,17$', '6181,50$', '4961,67$', '4565,17$',
       '4788,33$', '28580,50$', '39574,17$', '2422,33$', '5139,33$',
       '6149,00$', '39132,17$', '3490,50$', '10330,67$', '2760,33$',
       '5548,83$', '3386,50$', '13840,67$', '18148,00$', '10488,83$',
       '4493,67$', '6439,33$', '14765,83$', '5828,33$', '38061,83$',
       '3399,50$', '9071,83$', '7163,00$', '3018,17$', '23579,83$',
       '6201,00$', '14592,50$', '21138,00$', '11470,33$', '5280,17$',
       '8820,50$', '6404,67$', '10070,67$', '6075,33$', '5284,50$',
       '6188,00$', '6354,83$', '2363,83$', '11160,50$', '6203,17$',
       '6192,33$', '2446,17$', '42100,50$'], dtype=object)

In [88]:
# Metodo para cambiar el tipo de una columna

# df['age'].astype(int)