In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Graficos

In [2]:
df = pd.read_csv("../datos/df_modificado.csv", index_col = 0)

df.head(5)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,52,No,non-travel,2015.72,NaN,6,3,NaN,1,1,1,M,NaN,3,5,research director,3,NaN,16280.83,42330.17,7,No,13,3.0,3,full time,0,NaN,5,3.0,20,NaN,15,15,16280.83,1972,195370.0,NaN,NaN,True
1,53,No,non-travel,2063.39,NaN,1,4,life sciences,1,2,3,M,NaN,2,5,manager,3,NaN,NaN,43331.17,0,NaN,14,3.0,1,full time,1,34.0,5,3.0,33,NaN,11,9,NaN,1971,199990.0,NaN,NaN,False
2,43,No,travel_rarely,1984.25,research & development,4,2,technical degree,1,3,3,M,NaN,3,5,manager,4,married,NaN,41669.33,1,No,11,3.0,4,full time,0,22.0,3,NaN,22,NaN,11,15,NaN,1981,192320.0,manager - research & development,NaN,False
3,48,No,travel_rarely,1771.40,NaN,2,4,medical,1,4,1,F,NaN,3,4,research director,3,married,14307.50,37199.50,3,NaN,19,3.0,2,full time,2,NaN,2,NaN,20,NaN,5,6,14307.50,1976,171690.0,NaN,NaN,False
4,47,No,non-travel,1582.77,NaN,3,3,technical degree,1,5,1,F,NaN,4,4,sales executive,1,divorced,12783.92,33238.20,2,No,12,3.0,4,full time,1,NaN,5,3.0,19,NaN,2,8,12783.92,1977,NaN,NaN,NaN,True

In [3]:
df["worklifebalance"].dtype

dtype('float64')

In [4]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

age                           0.000000
attrition                     0.000000
businesstravel                0.000000
dailyrate                     0.000000
department                   81.406436
distancefromhome              0.000000
education                     0.000000
educationfield               46.126341
employeecount                 0.000000
employeenumber                0.000000
environmentsatisfaction       0.000000
gender                        0.000000
hourlyrate                   75.506555
jobinvolvement                0.000000
joblevel                      0.000000
jobrole                       0.000000
jobsatisfaction               0.000000
maritalstatus                40.226460
monthlyincome                29.141836
monthlyrate                   0.000000
numcompaniesworked            0.000000
overtime                     41.477950
percentsalaryhike             0.000000
performancerating            11.918951
relationshipsatisfaction      0.000000
standardhours                 0.000000
stockoptionlevel              0.000000
totalworkingyears            32.717521
trainingtimeslastyear         0.000000
worklifebalance               6.793802
yearsatcompany                0.000000
yearsincurrentrole           97.914184
yearssincelastpromotion       0.000000
yearswithcurrmanager          0.000000
sameasmonthlyincome          29.141836
datebirth                     0.000000
salary                       16.984505
roledepartament              81.406436
numberchildren              100.000000
remotework                    0.000000
dtype: float64

In [5]:
# lo convertimos a DataFrame
df_nulos = pd.DataFrame(porc_nulos, columns = ["%_nulos"])
# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                        %_nulos
department            81.406436
educationfield        46.126341
hourlyrate            75.506555
maritalstatus         40.226460
monthlyincome         29.141836
overtime              41.477950
performancerating     11.918951
totalworkingyears     32.717521
worklifebalance        6.793802
yearsincurrentrole    97.914184
sameasmonthlyincome   29.141836
salary                16.984505
roledepartament       81.406436
numberchildren       100.000000

In [6]:
nulos_esta_num = ["", "", "", ""]

In [ ]:
fig, axes = plt.subplots(nrows = 2, ncols = 3, figsize = (20,10)) 
axes = axes.flat
for indice, col in enumerate(nulos_esta_num):
    sns.boxplot(x = col, data = df, ax = axes[indice])
    
plt.tight_layout()
fig.delaxes(axes[-1]);